<!DOCTYPE html>
<script>
    window.log = function() {
        console.log.apply(console, arguments);
    };
</script>
<html>
<head>
    <meta charset='utf-8'>
    <title>野球愛好会</title>
    <script src='js/external/angular/angular.js'></script>
    <script src='js/external/jquery/jquery-1.10.2.min.js'></script>
    <script src='js/external/gsap/TweenMax.min.js'></script>

    <script src='js/application.js'></script>

    <link rel='shortcut icon' href='yakk.ico'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='css/external/bootstrap/css/bootstrap.min.css' >
    <link rel='stylesheet' type='text/css' href='css/internal/application.css'>

    <style>
        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg) translateZ(0);
            }
            to {
                -webkit-transform: rotate(360deg) translateZ(0);
            }
        }
        @keyframes spin {
            from {
                -ms-transform: rotate(0deg) translateZ(0);
                transform: rotate(0deg) translateZ(0);
            }
            to {
                -ms-transform: rotate(360deg) translateZ(0);
                transform: rotate(360deg) translateZ(0);
            }
        }
    </style>
</head>
<body class='blue'>
<div class='container' ng-app='YakyuuAikoukai' ng-controller='IndexController'>
    <div class='blocking instructions'>
        <section class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4'>
                <span>
                    {{ t('Select Language:') }} &nbsp;
                </span>
                <button class='btn pointer' ng-click='mode("e"); $event.stopPropagation()'>
                    English
                </button>
                <button class='btn pointer' ng-click='mode("n"); $event.stopPropagation()'>
                    日本語
                </button>
            </div>
            <div class='col-md-4'></div>
        </section>
        <br/>
        <div class='row'>
            <div class='col-md-4'>
                <p ng-show='mode() == "e"'>
                    When catching, click in the strike/ball zone to locate a pitch. A crudely css'd wheel of cheese in side profile
                    which is actually representing a bat will indicate where the opponent swung
                    while the cross-section of a candy cane which is really a ball will indicate
                    where the ball was thrown (transparent) and where it broke (opaque).
                </p>
                <p ng-show='mode() == "n"'>
                    守備でのは捕手役でプレーを行う。ストライクゾーンにクリックすると、投手を狙い投げさせる。微妙にチーズに見えるんだけど、実はバットが
                    現れるところがバッタの振り。透明なボールは狙った投球、不透明なのは変化を示す。
                </p>
            </div>
            <div class="no-swing col-md-4">
                <div class="target {{y.stage}}">
                    <div class='indicator baseball pitch' style='top:125px;left:155px;'></div>
                    <div class='indicator baseball break' style='top:145px;left:125px;'></div>
                    <div class='indicator swing right' style='top:110px;left:140px; transform: rotate(20deg);'></div>
                    <div class='strikezone'></div>
                </div>
            </div>
            <div class='col-md-4'>
                <p ng-show='mode() == "e"'>
                    You can call for a different pitch by clicking on the pitch name in the pitching data display
                    in the lower left or below the strike zone indicator.
                </p>
                <p ng-show='mode() == "n"'>
                    ストライクゾーンの下に投手のどの球で挑戦することも選択できる。
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>
                <p ng-show='mode() == "e"'>
                    When batting, you'll see a ball...
                    Click inside the strike or ball zone to swing, or don't click to hold up (not swing) and try to draw a walk or wait for a better pitch.
                </p>
                <p ng-show='mode() == "n"'>
                    攻撃でのはバッタ役を次々務める。投球が飛んでくるときにストライクゾーンにクリックすれば、バットを振る。しない場合は見送る。打てる球待つんだ！
                </p>
            </div>
            <div class="no-swing col-md-4">
                <div class="target {{y.stage}}">
                    <div class='indicator baseball pitch' style='top:125px;left:155px;'></div>
                    <div class='indicator baseball break' style='top:145px;left:135px;'></div>
                    <div class='strikezone'></div>
                </div>
            </div>
            <div class='col-md-4'>
                <p ng-show='mode() == "e"'>
                    To restart into a new game simply reload the page.
                </p>
                <p ng-show='mode() == "n"'>
                    新しい試合を再開したいときにウエブページをリロードしてください。
                </p>
            </div>
        </div>
        <section class='row options'>
            <div class='col-md-12'>
                <button ng-click="proceedToGame(); $event.stopPropagation()" class='btn pointer'>
                    {{ t('Play Ball!') }}
                </button>
                <button ng-click="proceedToGame(false, true); $event.stopPropagation()" class='btn pointer'>
                    {{ t('Spectate the CPU') }}
                </button>
                <button ng-click='proceedToGame(true, true); $event.stopPropagation()' class='btn pointer'>
                    {{ t('Run Fast Simulation') }} &raquo;
                </button>
            </div>
        </section>

    </div>
    <div scoreboard='' game='y' text='t'></div>
    <hr>
    <div class='diamond-display row'>
        <div class='col-md-4'>
            <div class='pull-right'>
                <strong class='pointer' ng-show='mode() == "e"'>English</strong>
                <em class='pointer' ng-click='mode("e")' ng-show='mode() != "e"'>English</em>
                <br>
                <strong class='pointer' ng-show='mode() == "n"'>日本語</strong>
                <em class='pointer' ng-click='mode("n")' ng-show='mode() != "n"'>日本語</em>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='splay-indicator-wrapper'>
                <div class='splay-indicator'>
                    <div class='splay-indicator-ball' ng-show='y.swingResult.contact'
                         ng-style='{
                                    bottom: y.swingResult.bottom,
                                    left: y.swingResult.left
                                }'>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4'></div>
    </div>
    <hr>
    <div class='main-area noselect row'>
        <div class='row'>
            <div class='col-md-4 background-color visible-lg visible-md'>
                <!--<div ng-repeat='(key, val) in y.swingResult'>-->
                <!--{{key}} : {{val}}-->
                <!--</div>-->
                <ul class="list-group pitch-record">
                    <li class='list-group-item' ng-repeat="event in y.log.pitchRecord[mode()] track by $index">
                        <strong ng-if="$index == 0">
                            {{event}}
                        </strong>
                        <span ng-if="$index">
                            {{event}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class='col-md-4'>
                <div class='windup' ng-class='{winding: y.humanControl == "none" || (y.humanBatting() && !y.humanPitching())}'></div>
                <div class="no-swing" ng-click="indicate($event)">
                    <div class="target {{y.stage}}" ng-class='{batting: y.humanBatting(), pitching: y.humanPitching()}'>
                        <div class='indicator baseball pitch hide'></div>
                        <div class='indicator baseball break hide'></div>
                        <div class='indicator swing'
                             ng-style='{
                                    top: 200-y.pitchInFlight.y-y.swingResult.y + "px",
                                    left: y.pitchInFlight.x + y.swingResult.x + "px",
                                    transform: "rotate(" + y.swingResult.angle + "deg)"
                                }'
                             ng-class='{
                                 left: y.batterRunner.bats == "left",
                                 right: y.batterRunner.bats == "right",
                                 hide: y.humanBatting() || y.swingResult.looking
                             }'>
                        </div>
                        <div class='indicator swing stance-indicator'
                             ng-class='{
                                left: y.batter.bats == "left",
                                right: y.batter.bats == "right",
                                hide: !y.humanBatting()
                             }'>
                        </div>
                        <div class='indicator glove stance-indicator hide'
                             ng-class='{
                                left: y.pitcher.team.positions.catcher.throws == "left",
                                right: y.pitcher.team.positions.catcher.throws == "right",
                                hide: !y.humanPitching()
                             }'>
                        </div>
                        <div class='strikezone' ng-class='{batting: y.humanBatting(), pitching: y.humanPitching()}'></div>
                    </div>
                </div>
                <div class='centered'>
                    <div class='batter-stats' ng-class='{"lefty": y.batter.bats == "left", "righty": y.batter.bats == "right"}'>
                        <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.batter.skill.offense.eye/120+")"}'></span>
                        <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.batter.skill.offense.power/120+")"}'></span>
                        <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.batter.skill.offense.speed/120+")"}'></span>
                    </div>
                    <div class="list-group-item umpire">
                        Umpire: {{y.umpire.says}}
                    </div>
                </div>
            </div>
            <div class='col-md-4 background-color visible-lg visible-md'>
                <ul class="list-group play-record">
                    <li class='list-group-item' ng-repeat="event in y.log.shortRecord[mode()] track by $index">
                        <strong ng-if="$index == 0">
                            {{event}}
                        </strong>
                        <span ng-if="$index">
                            {{event}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <ul class='centered list-inline pitch-selection'>
        <li ng-if='y.humanControl != "none" && y.stage == "pitch" && !y.pitcher.windingUp' class='pointer' ng-repeat='(name, pitch) in y.pitcher.pitching'>
            <span ng-click="selectPitch(name)">
                <strong ng-show='y.pitchInFlight.name == name'>{{ t(name) }}</strong>
                <em ng-show='y.pitchInFlight.name != name'>{{ t(name) }}</em>
                <br>
                <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ pitch.control/120+")"}'></span>
                <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ pitch.velocity/120+")"}'></span>
                <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ pitch.break/120+")"}'></span>
            </span>
        </li>
    </ul>
    <div class='row list-group-item'>
        <div class='batter-data col-lg-6 list-group-item' ng-class='{"pull-right": y.half=="bottom"}'>
            <div class='row'>
                <div class='col-lg-6'>
                    <div>
                        {{ t('At Bat :') }} &raquo;
                        <br>
                        <strong>{{y.batter.getName()}}</strong>
                        ({{('#')+y.batter.number}}) <span ng-if='y.batter.hero' class='glyphicon glyphicon-chevron-up'></span> -
                        <em>{{abbreviatePosition(y.batter.position)}}{{t.comma()}}{{y.batter.bats == 'left' ? t('LHB') : t('RHB')}}</em>
                    </div>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <strong>{{y.batter.stats.batting.getBA() | number:3}}</strong> {{ t('BA') }}
                            <br>
                            <strong>{{y.batter.stats.batting.getOBP() | number:3}}</strong> {{ t('OBP') }}
                            <br>
                            <strong>{{y.batter.stats.batting.getSLG() | number:3}}</strong> {{ t('SLG') }}
                            <br>
                            <strong>{{y.batter.stats.batting.hr}}</strong> {{ t('HR') }}
                            <br>
                            <strong>{{y.batter.stats.batting.rbi}}</strong> {{ t('RBI') }}
                        </div>
                        <div class='col-xs-6'>
                            <div>
                                {{ t('Eye :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.batter.skill.offense.eye/120+")"}'></span>
                            </div>
                            <div>
                                {{ t('Power :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.batter.skill.offense.power/120+")"}'></span>
                            </div>
                            <div>
                                {{ t('Speed :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.batter.skill.offense.speed/120+")"}'></span>
                            </div>
                            <div>
                                {{y.batter.getAtBats().join(', ')}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div>
                        {{ t('On Deck :') }} &raquo;
                        <br>
                        <strong>{{y.deck.getName()}}</strong>
                        ({{('#')+y.deck.number}}) <span ng-if='y.deck.hero' class='glyphicon glyphicon-chevron-up'></span> -
                        {{abbreviatePosition(y.deck.position)}}{{t.comma()}}{{y.batter.bats == 'left' ? t('LHB') : t('RHB')}}
                    </div>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <strong>{{y.deck.stats.batting.getBA() | number:3}}</strong> {{ t('BA') }}
                            <br>
                            <strong>{{y.deck.stats.batting.getOBP() | number:3}}</strong> {{ t('OBP') }}
                            <br>
                            <strong>{{y.deck.stats.batting.getSLG() | number:3}}</strong> {{ t('SLG') }}
                            <br>
                            <strong>{{y.deck.stats.batting.hr}}</strong> {{ t('HR') }}
                            <br>
                            <strong>{{y.deck.stats.batting.rbi}}</strong> {{ t('RBI') }}
                        </div>
                        <div class='col-xs-6'>
                            <div>
                                {{ t('Eye :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.deck.skill.offense.eye/120+")"}'></span>
                            </div>
                            <div>
                                {{ t('Power :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.deck.skill.offense.power/120+")"}'></span>
                            </div>
                            <div>
                                {{ t('Speed :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ y.deck.skill.offense.speed/120+")"}'></span>
                            </div>
                            <div>
                                {{y.deck.getAtBats().join(', ')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='pitcher-data col-lg-6' ng-class='{"pull-left": y.half=="bottom"}'>
            <div>
                <div class='row list-group-item'>
                    <div class='col-lg-6'>
                        <em>{{y.pitcher.throws == 'right' ? t('RHP') : t('LHP')}}</em> &raquo;
                        <strong>{{y.pitcher.getName()}}</strong>
                        ({{'#'+y.pitcher.number}}) <span ng-if='y.pitcher.hero' class='glyphicon glyphicon-chevron-up'></span>
                    </div>
                    <div class='col-lg-6'>
                        <em>{{abbreviatePosition('catcher')}}</em> &raquo;
                        <strong>{{y.pitcher.team.positions.catcher.getName()}}</strong>
                        ({{'#'+y.pitcher.team.positions.catcher.number}}) <span ng-if='y.pitcher.team.positions.catcher.hero' class='glyphicon glyphicon-chevron-up'></span>
                    </div>
                    <div class='row'>
                        <div class='col-lg-3'>
                            {{ t('Season') }}
                            <br>
                            {{y.pitcher.stats.pitching.W}} - {{y.pitcher.stats.pitching.L}}, {{y.pitcher.stats.pitching.GS}} GS
                            <br>
                            {{y.pitcher.stats.pitching.getERA() | number:2}} ERA
                        </div>
                        <div class='col-lg-2'>
                            {{ t('Game') }}
                            <br>
                            {{y.pitcher.stats.pitching.strikes}} - {{y.pitcher.stats.pitching.pitches}}
                            <br>
                            {{y.pitcher.stats.pitching.K}}K {{y.pitcher.stats.pitching.H}}H
                        </div>
                        <div class='col-lg-7'>
                        </div>
                    </div>
                </div>
                <div class='row'></div>
                <div class='row'>
                    <table class='list-group-item table table-condensed'>
                        <thead>
                        <tr>
                            <th>{{ t('Pitch') }}</th>
                            <th class='pointer' ng-repeat='(name, pitch) in y.pitcher.pitching'>
                                <span ng-click="selectPitch(name)">{{t(name)}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ t('Control') }}</td><td ng-repeat='(name, pitch) in y.pitcher.pitching'><span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ pitch.control/120+")"}'></span></td>
                        </tr>
                        <tr>
                            <td>{{ t('Velocity') }}</td><td ng-repeat='(name, pitch) in y.pitcher.pitching'><span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ pitch.velocity/120+")"}'></span></td>
                        </tr>
                        <tr>
                            <td>{{ t('Break') }}</td><td ng-repeat='(name, pitch) in y.pitcher.pitching'><span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ pitch.break/120+")"}'></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class='block stabilized col-lg-12 hidden-lg hidden-md'>
        <ul class="list-group pitch-record col-xs-6">
            <li class='list-group-item' ng-repeat="event in y.log.stabilized.pitchRecord[mode()] track by $index">
                {{event}}
            </li>
        </ul>
        <ul class="list-group pitch-record col-xs-6">
            <li class='list-group-item' ng-repeat="event in y.log.stabilized.shortRecord[mode()] track by $index">
                {{event}}
            </li>
        </ul>
    </div>
    <div class='clear'></div>
    <div class='col-lg-12'>
        <ul class='list-group col-lg-6' ng-repeat='team in [y.teams.away, y.teams.home] track by $index'>
            <li class='list-group-item'>
                {{team.getName()}}
            </li>
            <li class='list-group-item pointer' ng-repeat="(order, player) in team.lineup track by $index"
                ng-click='player.team.expanded = player.team.expanded == player ? null : player'>
                {{abbreviatePosition(player.position)}}<span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ player.skill.defense.fielding/120+")"}'></span> &raquo;
                <strong>{{player.getName()}}</strong> ({{'#'+player.number}}) <span ng-if='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                <span class='pull-right'>
                    <span class='at-bat' ng-repeat='atBat in player.getAtBats() track by $index'>
                        <strong ng-show='atBat.beneficial'>{{ atBat + '' }}</strong>
                        <span ng-show='!atBat.beneficial'>{{ atBat + '' }}</span>
                    </span>
                    <em>{{order == player.team.nowBatting ? ' - ' + t('Up to Bat') : ''}}</em>
                </span>
                <section ng-if='player.team.expanded == player'>
                    <div class='visible-md-inline visible-lg-inline'>
                        {{ t('Throws/Bats') }} {{t(player.throws == 'left' ? 'L' : 'R ')}}{{t.slash()}}{{t(player.bats == 'left' ? ' L ' : ' R ')}}
                    </div>
                    <ul class='list-inline personal-stats row' ng-init='stats = player.stats.batting'>
                        <li class='col-md-1'></li>
                        <li class='col-md-3'>{{ t('BA') }} <br> {{ stats.ba | number:3 }} ({{ stats.getBA() | number:3 }})</li>
                        <li class='col-md-1'>{{ t('OBP') }} <br> {{ stats.getOBP() | number:3 }}</li>
                        <li class='col-md-1'>{{ t('SLG') }} <br> {{ stats.getSLG() | number:3 }}</li>
                        <li class='col-md-1'>{{ t('PA') }} <br> {{ stats.pa }}</li>
                    </ul>
                    <hr/>
                    <ul class='list-inline personal-stats row'>
                        <li class='col-md-1'></li>
                        <li class='col-md-3'>{{ t('H/2B/3B/HR') }} <br> {{ stats.h }} - {{ stats['2b'] }} - {{ stats['3b'] }} - {{ stats.hr }}</li>
                        <li class='col-md-1'>{{ t('RBI') }} <br> {{ stats.rbi }}</li>
                        <li class='col-md-1'>{{ t('R') }} <br> {{ stats.r }}</li>
                        <li class='col-md-1'>{{ t('BB') }} <br> {{ stats.bb }}</li>
                        <li class='col-md-1'>{{ t('SO') }} <br> {{ stats.so }}</li>
                    </ul>
                    <span>
                        {{ t('Eye :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ player.skill.offense.eye/120+")"}'></span>
                    </span>
                    <span>
                        {{ t('Power :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ player.skill.offense.power/120+")"}'></span>
                    </span>
                    <span>
                        {{ t('Speed :') }} <span class='rating-block' ng-style='{backgroundColor: "rgba(0,0,0,"+ player.skill.offense.speed/120+")"}'></span>
                    </span>
                </section>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
