@import "diamond";
@import "baseball";
@import "bat";
@import "layout";
@import "scoreboard";

.rating-block {
    margin: 0 6px -1px;
    padding: 6px 5px;
    display: inline-block;
//    border: 1px dashed black;
}

.centered {
    text-align: center;
    margin: auto;
}

.windup {
    margin: auto;
    height: 5px;
    background: white;
    &.winding {
        display: block;
        background: #484848;
    }
}

.pitch-selection {
    height: 3em;
    .rating-block {
        margin: 0 -1px -1px;
        border-top: 1px solid black;
    }
}