.diamond-display {
  background: #ffffff;
  position: relative;
}
.diamond-display .splay-indicator-wrapper {
  margin: auto;
  width: 200px;
  height: 100px;
}
.diamond-display .splay-indicator-wrapper .splay-indicator {
  position: relative;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #e5e5e5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.diamond-display .splay-indicator-wrapper .splay-indicator .splay-indicator-ball {
  box-shadow: 0 0 4px 2px grey;
  position: absolute;
  width: 10px;
  height: 10px;
  color: #ffffff;
  border: 2px dotted darkred;
  border-radius: 50%;
  background: white;
}
.diamond {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff7ff;
  position: relative;
  top: -10px;
  margin-left: -10px;
  margin-top: 2px;
  z-index: 1;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff7ff;
}
.diamond.filled {
  border-bottom-color: #f7bf24;
}
.diamond.filled:after {
  border-top-color: #f7bf24;
}
.diamond-bg {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #252525;
  position: relative;
  margin-left: 0;
}
.diamond-bg:after {
  content: '';
  position: absolute;
  left: -12px;
  top: 12px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #252525;
}
.diamond-bg.third {
  margin-top: -24px;
  margin-left: -15px;
}
.diamond-bg.first {
  margin-top: -10px;
  margin-left: 15px;
}
.indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 13px;
  background: white;
  margin: -13px;
}
.indicator.pitch {
  opacity: 0.25;
  border-width: 3px;
  padding: 10px;
}
.baseball {
  border: 4px dashed #ff6261;
}
@media (min-width: 600px) {
  .baseball {
    box-shadow: 0 0 6px 2px grey;
    background: radial-gradient(circle at 5px 5px, #fefefa, #c8cbc2);
  }
}
.spin {
  -webkit-animation: spin 1s infinite 0s linear;
  /* Chrome, Safari, Opera */
  animation: spin 1s infinite 0s linear;
}
.indicator.swing {
  padding: 10px 50px;
  margin: -10px -50px;
  border-radius: 5px;
  border-top: 1px solid #4f4f32;
  border-bottom: 1px solid #4f4f32;
  border-left: none;
  border-right: none;
  background: #eeee9f;
  /* Old browsers */
}
.indicator.swing.stance-indicator {
  opacity: 0.85;
}
@media (min-width: 600px) {
  .indicator.swing {
    box-shadow: 0 0 6px 2px grey;
    background: -moz-radial-gradient(center, ellipse cover, #eeee9f 0%, #817c5c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eeee9f), color-stop(100%, #817c5c));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #eeee9f 0%, #817c5c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #eeee9f 0%, #817c5c 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #eeee9f 0%, #817c5c 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #eeee9f 0%, #817c5c 100%);
    /* W3C */
  }
}
.indicator.swing.left {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 2px solid #4f4f32;
}
.indicator.swing.right {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 2px solid #4f4f32;
}
.target.swing .indicator.swing {
  display: none;
}
.indicator.glove.stance-indicator {
  opacity: 0.5;
  background: white;
}
@font-face {
  font-family: Noto;
  src: url("external/noto/NotoSansJP-Regular.otf") format("opentype");
}
html body {
  border-top: 4px solid #ffc031;
  font-family: "Noto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button.btn {
  margin: 10px;
  background: #2a2a2a;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-top: 0;
  border-bottom: 0;
  border-left: 3px solid white;
  border-right: 3px solid white;
  cursor: pointer;
  padding: 5px 5px 8px;
}
button.btn.small {
  font-size: 11px;
}
button.btn::before,
button.btn::after {
  color: white;
  content: "|";
}
button.btn:focus,
button.btn:active,
button.btn:hover {
  color: white;
}
button.btn.disabled {
  pointer-events: auto;
  cursor: auto;
}
.language-select {
  z-index: 7;
  background: transparent;
}
.opponent-indicator {
  text-align: left;
  opacity: 0.7;
}
.main-area {
  padding: 10px 30px !important;
}
.main-area .list-group-item strong {
  font-size: 120%;
}
.main-area .pitch-record {
  text-align: right;
}
.main-area .play-record {
  text-align: left;
}
.main-area * {
  font-size: 12px;
}
.main-area .list-group-item {
  line-height: 14px;
  padding: 5px 10px;
  border: none;
}
.grey {
  /*background-image: url(../images/sb-tile-grey.png);*/
  background-repeat: repeat;
  border: 1px dashed black;
  background: #28232a;
  min-width: 10px;
  display: block;
  text-align: center;
}
.font-yellow {
  color: #f7bf24;
}
.padded {
  padding: 10px 15px;
  margin-bottom: -1px;
  border-radius: 3px;
}
.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 4px auto;
}
.container .table td,
.table tr {
  border: none;
}
.green {
  background: #b4e391;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4e391), color-stop(50%, #61c419), color-stop(100%, #b4e391));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4e391', endColorstr='#b4e391', GradientType=0);
  /* IE6-9 */
}
.orange {
  background: #ffb76b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.red {
  background: #f3c5bd;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f3c5bd), color-stop(50%, #e86c57), color-stop(51%, #ea2803), color-stop(75%, #ff6600), color-stop(100%, #c72200));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c5bd', endColorstr='#c72200', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.unlit {
  background: #959595;
}
.blue {
  background: white;
}
.capitalize {
  text-transform: capitalize;
}
.pointer {
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
}
.hide {
  display: none;
}
.inline {
  display: inline;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.background-color {
  background: white;
  border-radius: 5px;
}
.no-swing {
  padding: 0;
  border-top: 2px dashed grey;
  border-bottom: 2px dashed grey;
  background: transparent;
  min-width: 300px;
  margin: 0 -10px 25px -10px;
  position: relative;
}
.target {
  box-shadow: 0 0 24px 6px rgba(55, 55, 55, 0.2);
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px dashed #bcc2c9;
  background: radial-gradient(circle at 100px 100px, rgba(215, 215, 215, 0.2), rgba(166, 166, 166, 0.2));
  perspective: 100px;
}
.target.live {
  z-index: 4;
  cursor: none;
}
.target.pitching {
  background: rgba(240, 233, 238, 0.2);
  background: radial-gradient(circle at 100px 100px, rgba(215, 215, 215, 0.2), rgba(166, 166, 166, 0.2));
}
.target.batting {
  background: rgba(237, 235, 237, 0.2);
  background: radial-gradient(circle at 100px 100px, rgba(215, 215, 215, 0.2), rgba(166, 166, 166, 0.2));
}
.strikezone {
  box-shadow: 0 0 5px 3px rgba(105, 108, 112, 0.49);
  margin: 35px 50px;
  padding: 0;
  width: 100px;
  height: 130px;
  background: radial-gradient(circle at 50px 80px, rgba(142, 141, 136, 0.2), rgba(77, 77, 80, 0.2));
  border: 3px solid #ccd4d1;
  text-align: center;
}
.strikezone.pitching {
  background: rgba(174, 169, 173, 0.2);
  background: radial-gradient(circle at 50px 80px, rgba(142, 141, 136, 0.2), rgba(77, 77, 80, 0.2));
}
.strikezone.batting {
  background: rgba(192, 189, 195, 0.2);
  background: radial-gradient(circle at 50px 80px, rgba(142, 141, 136, 0.2), rgba(77, 77, 80, 0.2));
}
.indicator.pitch {
  background-color: rgba(255, 255, 255, 0.4);
}
.container .side-base-indicator {
  min-height: 62px;
}
.blocking {
  position: absolute;
  width: 100%;
  height: 250%;
  min-height: 800px;
  z-index: 11;
  left: 0;
  top: 0;
  background: white;
  text-align: center;
  padding: 4%;
  font-size: 14px;
  font-weight: bold;
}
.blocking p {
  text-align: left;
}
.blocking .no-swing {
  border: 2px solid black;
}
.batter-stats {
  width: 100%;
  margin: -25px auto auto;
}
.batter-stats .rating-block {
  margin: 0 0 -1px 0;
}
.batter-stats.righty {
  text-align: left;
}
.batter-stats.lefty {
  text-align: right;
}
.stabilized .list-group-item {
  height: 6em;
}
.one-line .col-xs-6 {
  margin-right: -40px;
}
.one-line .col-xs-6:last-child {
  margin-left: 40px;
}
.one-line .col-xs-6 .prevent-break {
  margin-right: -40px;
}
.strikezone-message {
  border-radius: 1px;
  background: #5d0e10;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 10px;
  font-size: 16px;
  display: inline-block;
  margin: auto;
}
aside.image-panel {
  background: transparent;
  height: 105px;
  width: 120px;
  position: absolute;
  top: 45px;
  left: 15px;
  float: none;
  background-position: center;
  background-repeat: no-repeat;
}
aside.image-panel.right {
  right: 15px;
  left: inherit;
}
#override td {
  padding: 4px;
}
.scoreboard {
  /*background-image: url(../images/sb-tile.png);*/
  background-repeat: repeat;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid lightgrey;
  margin-bottom: 10px;
  background: #939890;
}
.scoreboard .on-base {
  font-size: 14px;
}
.scoreboard .umpire {
  margin-top: 10px;
}
.black {
  background: #45484d;
  /* Old browsers */
  color: white;
}
.black.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.scoreboard-spacer {
  height: 120px;
}
.box-scoreboard {
  z-index: 10;
  position: fixed;
  left: 5px;
  top: 5px;
  width: 300px;
  height: 120px;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  border-radius: 15px;
  border: 5px solid #c8c8c8;
  text-align: center;
  padding: 3px;
}
.box-scoreboard .bases {
  width: 50px;
  margin: -10px auto 15px;
}
.box-scoreboard .top-bar {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  background: #1d1f21;
  color: white;
}
.box-scoreboard .top-bar .inning {
  padding: 0 20px;
}
.box-scoreboard .team-names .home,
.box-scoreboard .team-names .away {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background: #45484d;
  /* Old browsers */
  color: white;
  border: 2px solid #34363a;
}
.box-scoreboard .team-names .home.gradient,
.box-scoreboard .team-names .away.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.box-scoreboard .team-names .team-name,
.box-scoreboard .team-names .score {
  padding: 0 2px;
}
.box-scoreboard .the-count {
  color: white;
  text-align: left;
}
.box-scoreboard .the-count .circle {
  display: inline;
  padding: 0 8px;
  margin: 0 2px;
}
.box-scoreboard .the-count .a-count {
  padding: 0 2px;
  font-weight: 700;
  width: 10px;
  display: inline-block;
  text-align: center;
}
.box-scoreboard .at-bat {
  padding: 0;
  line-height: 2em;
  font-size: 12px;
  background: #45484d;
  /* Old browsers */
  color: white;
  border-left: 5px solid #c8c8c8;
  height: 111px;
  margin-top: -3px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 93px;
}
.box-scoreboard .at-bat.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.box-scoreboard .at-bat .order,
.box-scoreboard .at-bat .ba {
  border-bottom: 3px solid #c8c8c8;
}
.box-scoreboard .at-bat .name {
  font-size: 14px;
}
.chalklines {
  position: relative;
}
.chalklines .chalk {
  position: absolute;
  background: white;
  box-shadow: 0 0 5px 5px grey;
}
.chalklines .chalk.batter-box {
  border: 20px solid white;
  background: transparent;
}
.chalklines .chalk.line {
  width: 20px;
  height: 300px;
}
.chalklines .homeplate {
  display: inline-block;
  height: 55px;
  margin-left: 99px;
  margin-top: 5px;
  position: absolute;
  width: 100px;
  background: #c0c0c0;
}
.chalklines .homeplate:after {
  border-top: 35px solid #c0c0c0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 55px;
  width: 0;
}
.webgl-container {
  width: 100%;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 510px;
  margin-top: -220px;
  z-index: 6;
  background: transparent;
  overflow: hidden;
}
.webgl-bg-container {
  width: 100%;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 510px;
  margin-top: -220px;
  z-index: 6;
  background: transparent;
  overflow: hidden;
  z-index: 0;
}
.input-area {
  cursor: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.main-area {
  position: relative;
  /* Gradients http://codepen.io/zessx/pen/rDEAl/ */
}
.main-area .background-color {
  background-color: rgba(255, 255, 255, 0);
}
.main-area .list-group-item {
  background-color: rgba(255, 255, 255, 0.75);
}
.main-area field {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -35px;
}
.main-area .sky-gradient-00,
.main-area .sky-gradient-24 {
  background: #00000c;
}
.main-area .sky-gradient-01 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #020111 85%, #191621 100%);
}
.main-area .sky-gradient-02 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #020111 60%, #20202c 100%);
}
.main-area .sky-gradient-03 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #020111 10%, #3a3a52 100%);
}
.main-area .sky-gradient-04 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #20202c 0%, #515175 100%);
}
.main-area .sky-gradient-05 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #40405c 0%, #6f71aa 80%, #8a76ab 100%);
}
.main-area .sky-gradient-06 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
}
.main-area .sky-gradient-07 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #757abf 0%, #8583be 60%, #eab0d1 100%);
}
.main-area .sky-gradient-08 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #82addb 0%, #ebb2b1 100%);
}
.main-area .sky-gradient-09 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
}
.main-area .sky-gradient-10 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #b7eaff 0%, #94dfff 100%);
}
.main-area .sky-gradient-11 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #9be2fe 0%, #67d1fb 100%);
}
.main-area .sky-gradient-12 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #90dffe 0%, #38a3d1 100%);
}
.main-area .sky-gradient-13 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #57c1eb 0%, #246fa8 100%);
}
.main-area .sky-gradient-14 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #2d91c2 0%, #1e528e 100%);
}
.main-area .sky-gradient-15 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #2473ab 0%, #1e528e 70%, #5b7983 100%);
}
.main-area .sky-gradient-16 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #1e528e 0%, #265889 50%, #9da671 100%);
}
.main-area .sky-gradient-17 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
}
.main-area .sky-gradient-18 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%);
}
.main-area .sky-gradient-19 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%);
}
.main-area .sky-gradient-20 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #071b26 0%, #071b26 30%, #8a3b12 80%, #240e03 100%);
}
.main-area .sky-gradient-21 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #010a10 30%, #59230b 80%, #2f1107 100%);
}
.main-area .sky-gradient-22 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #090401 50%, #4b1d06 100%);
}
.main-area .sky-gradient-23 {
  background: radial-gradient(ellipse 1000px 300px at 41% -50px, #1e528e 0%, #00000c 80%, #150800 100%);
}
.main-area .grass-gradient-00,
.main-area .grass-gradient-24 {
  background-color: #322828;
}
.main-area .grass-gradient-01 {
  background-color: #323228;
}
.main-area .grass-gradient-02 {
  background-color: #323c28;
}
.main-area .grass-gradient-03 {
  background-color: #324628;
}
.main-area .grass-gradient-04 {
  background-color: #325028;
}
.main-area .grass-gradient-05 {
  background-color: #325528;
}
.main-area .grass-gradient-06 {
  background-color: #325a28;
}
.main-area .grass-gradient-07 {
  background-color: #326428;
}
.main-area .grass-gradient-08 {
  background-color: #326e28;
}
.main-area .grass-gradient-09 {
  background-color: #327828;
}
.main-area .grass-gradient-10 {
  background-color: #328228;
}
.main-area .grass-gradient-11 {
  background-color: #328c28;
}
.main-area .grass-gradient-12 {
  background-color: #329628;
}
.main-area .grass-gradient-13 {
  background-color: #328c28;
}
.main-area .grass-gradient-14 {
  background-color: #328228;
}
.main-area .grass-gradient-15 {
  background-color: #327828;
}
.main-area .grass-gradient-16 {
  background-color: #326e28;
}
.main-area .grass-gradient-17 {
  background-color: #326428;
}
.main-area .grass-gradient-18 {
  background-color: #325a28;
}
.main-area .grass-gradient-19 {
  background-color: #325028;
}
.main-area .grass-gradient-20 {
  background-color: #324b28;
}
.main-area .grass-gradient-21 {
  background-color: #323c28;
}
.main-area .grass-gradient-22 {
  background-color: #323228;
}
.main-area .grass-gradient-23 {
  background-color: #323228;
}
.main-area .field {
  text-align: center;
  perspective: 500px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  height: 300px;
  top: 5px;
  left: 0;
  right: 0;
  z-index: -10;
}
.main-area .field.bw {
  display: none;
}
.main-area .field > * {
  position: absolute;
  margin: auto;
  width: 200%;
  left: -50%;
  right: -50%;
}
.main-area .field .batters-eye {
  background: white;
  height: 300px;
  width: 95%;
  min-width: 220px;
  top: 0;
}
.main-area .field .sky {
  height: 150px;
  transform: rotateX(0deg);
  z-index: -8;
}
.main-area .field .grass {
  z-index: -10;
  top: -280px;
  height: 900px;
  transform: rotateX(80deg);
  background-size: 90px 90px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.main-area .field .dirt {
  bottom: -130px;
  height: 300px;
  background: #d09f5f;
  left: 0;
  right: 0;
  width: 400px;
  transform: rotateX(80deg);
  z-index: -5;
}
.main-area .field .third-base-line,
.main-area .field .first-base-line,
.main-area .field .rhb-box,
.main-area .field .lhb-box,
.main-area .field .dirt {
  display: none;
}
.main-area .field .third-base-line {
  height: 12px;
  transform: rotateX(80deg) rotateY(0deg) rotateZ(45deg);
  top: 295px;
  width: 2400px;
  background: white;
  z-index: -9;
}
.main-area .field .rhb-box {
  border: 10px solid white;
  background: transparent;
  width: 100px;
  height: 400px;
  transform: rotateX(80deg);
  top: 105px;
  right: -500px;
  z-index: -4;
}
.main-area .field .lhb-box {
  border: 10px solid white;
  background: transparent;
  width: 100px;
  height: 400px;
  transform: rotateX(80deg);
  top: 105px;
  left: -500px;
  z-index: -4;
}
.main-area .field .first-base-line {
  height: 12px;
  transform: rotateX(80deg) rotateY(0deg) rotateZ(-45deg);
  top: 295px;
  width: 2400px;
  background: white;
  z-index: -9;
}
.rating-block {
  margin: 0 6px -1px;
  padding: 6px 5px;
  display: inline-block;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mousehover {
  position: fixed;
  border: 1px dotted #444444;
  padding: 5px;
  display: inline-block;
}
.centered {
  text-align: center;
  margin: auto;
}
.windup {
  margin: auto;
  height: 5px;
  background: transparent;
}
.windup.winding {
  display: block;
  background: #363636;
  border: none;
}
.pitch-selection .rating-block {
  margin: 0 -1px -1px;
}
.pitch-selection .pitch-selection-label {
  font-size: 80%;
}
