.indicator.swing {
  padding: 10px 50px;
  margin: -10px -50px;
  border-radius: 5px;
  border-top: 1px solid #5d5b55;
  border-bottom: 1px solid #5d5b55;
  border-left: none;
  border-right: none;
  background: #f4f4f4;
  /* Old browsers */
}
.indicator.swing.stance-indicator {
  opacity: 0.85;
}
@media (min-width: 600px) {
  .indicator.swing {
    box-shadow: 0 0 12px 2px grey;
    background: -moz-radial-gradient(center, ellipse cover, #f4f4f4 0%, #87847b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f4f4f4), color-stop(100%, #87847b));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #f4f4f4 0%, #87847b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #f4f4f4 0%, #87847b 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #f4f4f4 0%, #87847b 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #f4f4f4 0%, #87847b 100%);
    /* W3C */
  }
}
.indicator.swing.left {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 2px solid #5d5b55;
}
.indicator.swing.right {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 2px solid #5d5b55;
}
.target.swing .indicator.swing {
  display: none;
}
.indicator.glove.stance-indicator {
  opacity: 0.5;
  background: white;
}
