aside.image-panel {
  background: transparent;
  height: 105px;
  width: 120px;
  position: absolute;
  top: 45px;
  left: 15px;
  float: none;
  background-position: center;
  background-repeat: no-repeat;
}
aside.image-panel.right {
  right: 15px;
  left: inherit;
}
