.scoreboard {
  /*background-image: url(../images/sb-tile.png);*/
  background-repeat: repeat;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid lightgrey;
  margin-bottom: 10px;
  background: #939890;
}
.scoreboard .on-base {
  font-size: 14px;
}
.scoreboard .umpire {
  margin-top: 10px;
}
.black {
  background: #45484d;
  /* Old browsers */
  color: white;
}
.black.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.scoreboard-spacer {
  height: 120px;
}
.box-scoreboard {
  z-index: 10;
  position: fixed;
  left: 5px;
  top: 5px;
  width: 300px;
  height: 120px;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  border-radius: 15px;
  border: 5px solid #c8c8c8;
  text-align: center;
  padding: 3px;
}
.box-scoreboard .bases {
  width: 50px;
  margin: -10px auto 15px;
}
.box-scoreboard .top-bar {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  background: #1d1f21;
  color: white;
}
.box-scoreboard .top-bar .inning {
  padding: 0 20px;
}
.box-scoreboard .team-names .home,
.box-scoreboard .team-names .away {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background: #45484d;
  /* Old browsers */
  color: white;
  border: 2px solid #34363a;
}
.box-scoreboard .team-names .home.gradient,
.box-scoreboard .team-names .away.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.box-scoreboard .team-names .team-name,
.box-scoreboard .team-names .score {
  padding: 0 2px;
}
.box-scoreboard .the-count {
  color: white;
  text-align: left;
}
.box-scoreboard .the-count .circle {
  display: inline;
  padding: 0 8px;
  margin: 0 2px;
}
.box-scoreboard .the-count .a-count {
  padding: 0 2px;
  font-weight: 700;
  width: 10px;
  display: inline-block;
  text-align: center;
}
.box-scoreboard .at-bat {
  padding: 0;
  line-height: 2em;
  font-size: 12px;
  background: #45484d;
  /* Old browsers */
  color: white;
  border-left: 5px solid #c8c8c8;
  height: 111px;
  margin-top: -3px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 93px;
}
.box-scoreboard .at-bat.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.box-scoreboard .at-bat .order,
.box-scoreboard .at-bat .ba {
  border-bottom: 3px solid #c8c8c8;
}
.box-scoreboard .at-bat .name {
  font-size: 14px;
}
