@import "diamond";
@import "baseball";
@import "layout";
@import "scoreboard";

.rating-block {
    margin: 0 6px;
    padding: 0 6px;
    background: black;
}

.centered {
  text-align: center;
  margin: auto;
}