@import "diamond";
@import "baseball";
@import "layout";
@import "scoreboard";

.rating-block {
    margin: 0 6px;
    padding: 0 6px;
    background: black;
}

.centered {
    text-align: center;
    margin: auto;
}

.windup {
    margin: auto;
    height: 5px;
    background: #353535;
    transition: width 3s ease;
    &.winding {
        width: 0;
    }
}