.diamond-display {
  background: #ffffff;
  position: relative;
}
.diamond-display .splay-indicator {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #e5e5e5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.diamond-display .splay-indicator .splay-indicator-ball {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #ffffff;
  border: 2px dotted darkred;
  border-radius: 50%;
  background: white;
}
.indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 13px;
  background: white;
  margin: -13px;
}
.baseball {
  border: 4px dashed #ff6261;
}
.spin {
  -webkit-animation: spin 1s infinite 0s linear;
  /* Chrome, Safari, Opera */
  animation: spin 1s infinite 0s linear;
}
@font-face {
  font-family: Noto;
  src: url("../../css/external/noto/NotoSansJP-Regular.otf") format("opentype");
}
html body {
  border-top: 4px solid #ffc031;
  font-family: "Noto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-area {
  padding: 10px 30px !important;
}
.main-area .list-group-item strong {
  font-size: 120%;
}
.main-area .pitch-record {
  text-align: right;
}
.main-area .play-record {
  text-align: left;
}
.main-area * {
  font-size: 12px;
}
.main-area .list-group-item {
  line-height: 14px;
  padding: 5px 10px;
  border: none;
}
.main-area .list-group-item:before {
  content: "-";
}
.grey {
  /*background-image: url(../images/sb-tile-grey.png);*/
  background-repeat: repeat;
  border: 1px dashed black;
  background: #28232a;
  min-width: 10px;
  display: block;
  text-align: center;
}
.font-yellow {
  color: #f7bf24;
}
.padded {
  padding: 10px 15px;
  margin-bottom: -1px;
  border-radius: 3px;
}
.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 4px auto;
}
.container .table td,
.table tr {
  border: none;
}
.green {
  background: #b4e391;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4e391), color-stop(50%, #61c419), color-stop(100%, #b4e391));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4e391', endColorstr='#b4e391', GradientType=0);
  /* IE6-9 */
}
.orange {
  background: #ffb76b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.red {
  background: #f3c5bd;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f3c5bd), color-stop(50%, #e86c57), color-stop(51%, #ea2803), color-stop(75%, #ff6600), color-stop(100%, #c72200));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c5bd', endColorstr='#c72200', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.unlit {
  background: #959595;
}
.blue {
  background: white;
}
.capitalize {
  text-transform: capitalize;
}
.pointer {
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
}
.hide {
  display: none;
}
.inline {
  display: inline;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.background-color {
  background: white;
  border-radius: 5px;
}
.no-swing {
  padding: 0;
  border: 2px dashed grey;
  border-left: 50px solid rgba(243, 255, 245, 0.48);
  border-right: 50px solid rgba(243, 255, 244, 0.48);
  background: white;
  min-width: 300px;
  margin: 0 auto 25px auto;
}
.target {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px dashed #d4d4d4;
  background: rgba(207, 207, 207, 0.59);
}
.target.pitching {
  background: rgba(207, 207, 207, 0.59);
}
.target.batting {
  background: rgba(207, 207, 207, 0.59);
}
.strikezone {
  margin: 35px 50px;
  padding: 0;
  width: 100px;
  height: 130px;
  background: rgba(177, 177, 177, 0.89);
}
.strikezone.pitching {
  background: rgba(177, 177, 177, 0.89);
}
.strikezone.batting {
  background: rgba(177, 177, 177, 0.89);
}
.target.swing .indicator.swing {
  display: none;
}
.indicator.pitch {
  background-color: rgba(255, 255, 255, 0.4);
}
.indicator.swing {
  padding: 10px 50px;
  margin: -10px -50px;
  border-radius: 10px;
  border-top: 3px solid #645f40;
  border-bottom: 3px solid #645f40;
  border-left: none;
  border-right: none;
  background: #f0e69b;
}
.indicator.swing.left {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 3px solid #645f40;
}
.indicator.swing.right {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #645f40;
}
.diamond {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff7ff;
  position: relative;
  top: -10px;
  margin-left: -10px;
  margin-top: 2px;
  z-index: 1;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff7ff;
}
.diamond.filled {
  border-bottom-color: #f7bf24;
}
.diamond.filled:after {
  border-top-color: #f7bf24;
}
.diamond-bg {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #252525;
  position: relative;
  margin-left: 0px;
}
.diamond-bg:after {
  content: '';
  position: absolute;
  left: -12px;
  top: 12px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #252525;
}
.diamond-bg.third {
  margin-top: -24px;
  margin-left: -15px;
}
.diamond-bg.first {
  margin-top: -10px;
  margin-left: 15px;
}
.container .side-base-indicator {
  min-height: 62px;
}
.blocking {
  position: absolute;
  width: 100%;
  height: 200%;
  z-index: 11;
  left: 0;
  top: 0;
  background: white;
  text-align: center;
  padding: 4%;
  font-size: 14px;
  font-weight: bold;
}
.blocking p {
  text-align: left;
}
.blocking .no-swing {
  border: 2px solid black;
}
.batter-stats {
  width: 100%;
  margin: -25px auto auto;
}
.batter-stats .rating-block {
  border-top: 1px solid black;
  margin: 0 1px -1px 1px;
}
.batter-stats.righty {
  text-align: left;
}
.batter-stats.lefty {
  text-align: right;
}
.stabilized .list-group-item {
  height: 6em;
}
.scoreboard {
  /*background-image: url(../images/sb-tile.png);*/
  background-repeat: repeat;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid lightgrey;
  margin-bottom: 10px;
  background: #495e3c;
  /* Old browsers */
}
.scoreboard .on-base {
  font-size: 14px;
}
.scoreboard .umpire {
  margin-top: 10px;
}
.black {
  background: #45484d;
  /* Old browsers */
  color: white;
}
.black.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.scoreboard-spacer {
  height: 120px;
}
.box-scoreboard {
  z-index: 10;
  position: fixed;
  left: 5px;
  top: 5px;
  width: 300px;
  height: 120px;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  border-radius: 15px;
  border: 5px solid #c8c8c8;
  text-align: center;
  padding: 3px;
}
.box-scoreboard .bases {
  width: 50px;
  margin: -10px auto 15px;
}
.box-scoreboard .top-bar {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  background: #1d1f21;
  color: white;
}
.box-scoreboard .top-bar .inning {
  padding: 0 20px;
}
.box-scoreboard .team-names .home,
.box-scoreboard .team-names .away {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background: #45484d;
  /* Old browsers */
  color: white;
  border: 2px solid #34363a;
}
.box-scoreboard .team-names .home.gradient,
.box-scoreboard .team-names .away.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.box-scoreboard .team-names .team-name,
.box-scoreboard .team-names .score {
  padding: 0 2px;
}
.box-scoreboard .the-count {
  color: white;
  text-align: left;
}
.box-scoreboard .the-count .circle {
  display: inline;
  padding: 0 8px;
  margin: 0 2px;
}
.box-scoreboard .the-count .a-count {
  padding: 0 2px;
  font-weight: 700;
  width: 10px;
  display: inline-block;
  text-align: center;
}
.box-scoreboard .at-bat {
  padding: 0;
  line-height: 2em;
  font-size: 12px;
  background: #45484d;
  /* Old browsers */
  color: white;
  border-left: 5px solid #c8c8c8;
  height: 111px;
  margin-top: -3px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 93px;
}
.box-scoreboard .at-bat.gradient {
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.box-scoreboard .at-bat .order,
.box-scoreboard .at-bat .ba {
  border-bottom: 3px solid #c8c8c8;
}
.box-scoreboard .at-bat .name {
  font-size: 14px;
}
.rating-block {
  margin: 0 6px -1px;
  padding: 6px 5px;
  display: inline-block;
}
.centered {
  text-align: center;
  margin: auto;
}
.windup {
  margin: auto;
  height: 5px;
  background: white;
}
.windup.winding {
  display: block;
  background: #484848;
}
.pitch-selection {
  height: 3em;
}
.pitch-selection .rating-block {
  margin: 0 -1px -1px;
  border-top: 1px solid black;
}
