<div class='row'>
    <div class='col-xs-6' *ngFor='#batter of [y.batter, y.deck]'>
        <div>
            {{ batter === y.batter ? t('At Bat') : t('On Deck') }} &raquo;
            <br>
            <strong>{{batter.getName()}}</strong>
            ({{('#')+batter.number}}) <span *ngIf='batter.hero' class='glyphicon glyphicon-chevron-up'></span>
            <br/>
            <em>{{abbreviatePosition(batter.position)}}{{t.comma()}}{{batter.bats == 'left' ? t('LHB') : t('RHB')}}</em>
        </div>
        <hr/>
        <div class='row one-line'>
            <div class='col-xs-12'>
                {{ batter.stats.batting.getSlash() }}
                <br>
                <span class='defining'>
                    {{ batter.getDefiningCharacteristic() }}
                </span>
            </div>
            <hr>
            <div class='col-xs-6'>
                <div class='prevent-break'>
                    <strong>{{batter.stats.batting.hr}}</strong> {{ t('HR') }}
                </div>
            </div>
            <div class='col-xs-6'>
                <div class='prevent-break'>
                    <strong>{{batter.stats.batting.rbi}}</strong> {{ t('RBI') }}
                </div>
            </div>
            <div class='col-xs-12'>
                {{batter.getAtBats().join(', ')}}
            </div>
        </div>
    </div>
</div>
