<div class='container'>
    <div class='blocking instructions'>
        <section class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4 language-select'>
                <button class='btn pointer' (click)='mode("e"); $event.stopPropagation()'>
                    English
                </button>
                <button class='btn pointer' (click)='mode("n"); $event.stopPropagation()'>
                    日本語
                </button>
            </div>
            <div class='col-md-4'></div>
        </section>
        <br/>
        <div class='row'>
            <div class='col-md-4'>
            </div>
            <div class="col-md-4">
                <div class="target swing">
                    <div class='indicator baseball pitch' style='top:70px;left:55px;padding:2px;'></div>
                    <div class='indicator baseball pitch' style='top:74px;left:50px;padding:3px;'></div>
                    <div class='indicator baseball pitch' style='top:82px;left:48px;padding:4px;'></div>
                    <div class='indicator baseball pitch' style='top:94px;left:55px;padding:6px;'></div>
                    <div class='indicator baseball pitch' style='top:110px;left:80px;padding:8px;'></div>
                    <div class='indicator baseball pitch' style='top:130px;left:100px;padding:10px;'></div>
                    <div class='indicator baseball break' style='top:145px;left:125px;padding:12px;'></div>
                    <div class='strikezone'></div>
                </div>
            </div>
            <div class='col-md-4'>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>
            </div>
            <div class="col-md-4">
            </div>
            <div class='col-md-4'>
            </div>
        </div>
        <hr>
        <section class='row options'>
            <div class='col-md-12'>
                <button (click)="proceedToGame(0, 0); $event.stopPropagation()" class='btn play-ball pointer'>
                    {{ t('Play Ball!') }}
                </button>
                <button (click)="proceedToGame(0, 1); $event.stopPropagation()" class='btn pointer'>
                    {{ t('Spectate the CPU') }}
                </button>
            </div>
            <p style='text-align: center; max-width: 340px; margin: auto;'>
                Supposing the matchmaking server hasn't crashed, you can
                share your URL (including hash) after clicking 'Play Ball!'
                to play with a live opponent.
            </p>
        </section>
        <section class='baseball-beginner text-left'>
            <hr/>
            <div class='col-md-12'>
                <button (click)='proceedToGame(1, 1); $event.stopPropagation()' class='btn pointer'>
                    {{ t('Run Fast Simulation') }} &raquo;
                </button>
                <button (click)='proceedToGame(7, 1); $event.stopPropagation()' class='btn pointer'>
                    {{ t('Play from the 7th') }} &raquo;
                </button>
            </div>
        </section>
    </div>
    <div class='play-begins' [ngClass]='{ blocked: !begin }'>
        <scoreboard [y]='y' [t]='t'></scoreboard>
        <hr class='under-canvas' />
        <div class='diamond-display row'>
            <div class='col-md-4 language-select'>
                <div class='pull-right'>
                    <button class='btn small' (click)='mode("e")' [ngClass]='{disabled: mode() != "e"}'>
                        <strong class='pointer' >English</strong>
                    </button>
                    <br>
                    <button class='btn small' (click)='mode("n")' [ngClass]='{disabled: mode() != "n"}'>
                        <strong class='pointer'>日本語</strong>
                    </button>
                    <br/>
                    <br/>
                    <!--<p>-->
                    <!--{{ y.timeOfDay.h }}:{{ y.timeOfDay.m }}-->
                    <!--</p>-->
                </div>
            </div>
            <div class='col-md-4'>
                <div class='splay-indicator-wrapper'>
                    <div class='splay-indicator'>
                        <div class='splay-indicator-ball' *ngIf='y.swingResult.contact'
                             [ngStyle]='{
                                    bottom: y.swingResult.bottom + "px",
                                    left: y.swingResult.left + "px"
                                }'>
                        </div>
                    </div>
                </div>
                <div class='text-center steal-controls' *ngIf='y.humanBatting() && y.field.getLeadRunner() && !y.opponentConnected'>
                    <button class='btn pointer small' (click)='y.batter.team.stealAttempt = y.batter.team.constructor.RUNNER_GO'
                            [ngClass]='{disabled: y.batter.team.stealAttempt != y.batter.team.constructor.RUNNER_GO}'>
                        {{ t('Steal') }}
                    </button>
                    <button class='btn pointer small' (click)='y.batter.team.stealAttempt = y.batter.team.constructor.RUNNERS_DISCRETION'
                            [ngClass]='{disabled: y.batter.team.stealAttempt != y.batter.team.constructor.RUNNERS_DISCRETION}'>
                        {{ t('Opportunistic') }}
                    </button>
                    <button class='btn pointer small' (click)='y.batter.team.stealAttempt = y.batter.team.constructor.RUNNER_HOLD'
                            [ngClass]='{disabled: y.batter.team.stealAttempt != y.batter.team.constructor.RUNNER_HOLD}'>
                        {{ t('Hold') }}
                    </button>
                </div>
            </div>
            <div class='col-md-4'>
            </div>
        </div>
        <hr class='under-canvas' />
        <div class='main-area noselect row'>
            <field [y]='y'></field>
            <div class='webgl-bg-container'></div>
            <div class='webgl-container'></div>
            <div class='row'>
                <div class='col-md-4 background-color visible-lg visible-md'>
                    <!--<div *ngFor='let (key, val) of y.swingResult'>-->
                    <!--{{key}} : {{val}}-->
                    <!--</div>-->
                    <ul class="list-group pitch-record">
                        <li class='list-group-item' *ngFor="let event of y.log.pitchRecord[mode()]; let i = index;">
                            <strong [hidden]='i > 0'>
                                {{event}}
                            </strong>
                            <span [hidden]='i === 0'>
                                {{event}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class='col-md-4'>
                    <div class='opponent-indicator' *ngIf='y.opponentConnected'>
                        <em>{{ t('Opponent connected') }}</em>
                    </div>
                    <div class='windup' [ngClass]='{winding: y.humanControl == "none" || y.humanBatting() || y.opponentConnected}'>
                    </div>
                    <div class="no-swing">
                        <div class='input-area' (click)='indicate($event)'>

                        </div>
                        <div class="target live {{y.stage}}"
                             [ngClass]='{
                                            batting: y.humanBatting(),
                                            pitching: y.humanPitching()
                                        }'>
                            <div class='indicator baseball pitch hide'></div>
                            <div class='indicator baseball break hide'></div>
                            <div class='indicator swing player'
                                 [ngStyle]='{
                                    top: 200-y.pitchInFlight.y-y.swingResult.y + "px",
                                    left: y.pitchInFlight.x + y.swingResult.x + "px",
                                    transform: "rotate(" + y.swingResult.angle + "deg) rotateY("+(y.batterRunner.bats == "left" ? 12 : -12)+"deg)"
                                }'
                                 [ngClass]='{
                                 left: y.batterRunner.bats == "left",
                                 right: y.batterRunner.bats == "right",
                                 hide: y.humanBatting() || y.swingResult.looking
                             }'>
                            </div>
                            <div class='indicator swing stance-indicator opponent'
                                 [ngClass]='{
                                left: y.batter.bats == "left",
                                right: y.batter.bats == "right",
                                hide: !y.humanBatting()
                             }'>
                            </div>
                            <div class='indicator glove stance-indicator hide'
                                 [ngClass]='{
                                left: y.pitcher.team.positions.catcher.throws == "left",
                                right: y.pitcher.team.positions.catcher.throws == "right",
                                hide: !y.humanPitching()
                             }'>
                            </div>
                            <div class='strikezone' [ngClass]='{batting: y.humanBatting(), pitching: y.humanPitching()}'>
                            <span class='strikezone-message' *ngIf='showMessage'>
                                {{ t('Click Here') }}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class='centered'>
                        <div class='batter-stats' [ngClass]='{"lefty": y.batter.bats == "left", "righty": y.batter.bats == "right"}'>
                            <button class='btn small batter-ready'
                                    *ngIf='y.batter.bats==="left" && !y.opponentConnected && y.humanBatting()'
                                    [ngClass]='{disabled: !y.batter.ready}'
                                    (click)='y.batterReady(!y.batter.ready)'>
                                {{ t('Batter Ready') }}
                            </button>
                            <section class='inline-block'>
                                <strong>{{y.batter.getName()}}</strong>
                                <br>
                                <span *ngIf='y.batter.bats==="left"'>
                                    <span *ngIf='y.batter.hero' class="glyphicon glyphicon-chevron-up"></span>
                                    {{ t('LHB') }}
                                </span>
                                <span class='defining anti-color'>
                                    {{ y.batter.getDefiningBattingCharacteristic() }}
                                </span>
                                <span *ngIf='y.batter.bats==="right"'>
                                    {{ t('RHB') }}
                                    <span *ngIf='y.batter.hero' class="glyphicon glyphicon-chevron-up"></span>
                                </span>
                            </section>
                            <button class='btn small batter-ready'
                                    *ngIf='y.batter.bats==="right" && !y.opponentConnected && y.humanBatting()'
                                    [ngClass]='{disabled: !y.batter.ready}'
                                    (click)='y.batterReady(!y.batter.ready)'>
                                {{ t('Batter Ready') }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 background-color visible-lg visible-md'>
                    <ul class="list-group play-record">
                        <li class='list-group-item' *ngFor="let event of y.log.shortRecord[mode()]; let i = index;">
                            <strong [hidden]='i > 0'>
                                {{event}}
                            </strong>
                            <span [hidden]='i === 0'>
                                {{event}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class='under-canvas' />
        <div class='visible-sm visible-xs centered'>
            {{ y.log.pitchRecord[mode()][0] }}
        </div>
        <!--<div class="umpire centered">-->
        <!--Umpire: {{y.umpire.says}}-->
        <!--</div>-->
        <hr class='visible-sm visible-xs centered'>
        <ul class='centered list-inline pitch-selection' *ngIf='y.humanPitching()'>
            <li class='pointer' *ngFor='let pitch of y.pitcher.pitching | toIterable;' (click)="selectPitch(pitch.__key)">
            <span>
                <button class='pointer btn small' [ngClass]='{disabled: y.pitchInFlight.name !== pitch.__key}'>
                    {{ t(pitch.__key) }}
                </button>
                <br>
                <rating-block [rating]='pitch.control'></rating-block>
                <rating-block [rating]='pitch.velocity'></rating-block>
                <rating-block [rating]='pitch.break'></rating-block>
            </span>
            </li>
            <br class='visible-xs'/>
            <li class='pitch-selection-label'>
                {{ t('Control') }} / {{ t('Velocity') }} / {{ t('Break') }}
            </li>
        </ul>
        <ul class='centered list-inline pitch-selection' *ngIf='!y.humanPitching()'>
            <li class='pointer' *ngFor='let pitch of y.pitcher.pitching | toIterable;'>
                <span class='pointer'>
                    {{ t(pitch.__key) }}
                </span>
                <br>
                <rating-block [rating]='pitch.control'></rating-block>
                <rating-block [rating]='pitch.velocity'></rating-block>
                <rating-block [rating]='pitch.break'></rating-block>
            </li>
            <br class='visible-xs'/>
            <li class='pitch-selection-label'>
                {{ t('Control') }} / {{ t('Velocity') }} / {{ t('Break') }}
            </li>
        </ul>
        <hr/>
        <div class='row'>
            <section class='col-xs-12 centered'>
                <battery-data [y]='y' [t]='t' class='pitcher-data'></battery-data>
            </section>
            <section class='col-xs-12'>
                <div class='col-sm-6' *ngIf='y.half === "bottom"'></div>
                <batters-data [y]='y' [t]='t' class='batter-data col-sm-6'></batters-data>
                <div class='col-sm-6' *ngIf='y.half === "top"'></div>
            </section>
        </div>
        <hr/>
        <div class='block stabilized col-lg-12 hidden-lg hidden-md'>
            <ul class="list-group pitch-record col-xs-6">
                <li class='list-group-item' *ngFor="let event of y.log.stabilized.pitchRecord[mode()]">
                    {{event}}
                </li>
            </ul>
            <ul class="list-group pitch-record col-xs-6">
                <li class='list-group-item' *ngFor="let event of y.log.stabilized.shortRecord[mode()]">
                    {{event}}
                </li>
            </ul>
            <hr/>
        </div>
        <div class='clear'></div>
        <div class='col-lg-12 batting-lines'>
            <ul class='list-group col-lg-6' *ngFor='let team of [y.teams.away, y.teams.home]' [ngClass]='{ click_to_sub: team.sub !== team.noSubstituteSelected }'>
                <li class='list-group-item team-name'>
                    <flag [team]='team'></flag>
                    {{team.getName()}}
                </li>
                <li class='list-group-item pointer lineup' *ngFor="let player of team.lineup"
                    [ngClass]='{
                        at_bat: player.team.lineup.indexOf(player) === player.team.nowBatting
                    }'
                    (click)='clickLineup(player)'>
                    {{abbreviatePosition(player.position)}}
                    <!--<rating-block [rating]='player.defensiveAverage()'></rating-block>-->
                    &raquo;
                    <strong>{{player.getName()}}</strong>
                    ({{'#'+player.number}})
                    <span *ngIf='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                    <em>{{ player.team.lineup.indexOf(player) === player.team.nowBatting ? ' - ' + t('Up to Bat') : ''}}</em>

                    <span class='pull-right'>
                        <span class='defining'>
                            {{ player.getDefiningCharacteristic() }}
                        </span>
                        <span class='action-line' *ngFor='let atBat of player.getAtBats()'
                              [ngClass]='{beneficial: atBat.beneficial}'>
                            {{ atBat + '' }}
                        </span>
                    </span>
                    <div class='row'></div>
                    <section *ngIf='player.team.expanded === player'>
                        <hr>
                        <div class='visible-md-inline visible-lg-inline col-xs-12'>
                            {{ t('Throws/Bats') }} {{t(player.throws == 'left' ? 'L' : 'R ')}}{{t.slash()}}
                            {{t(player.bats == 'left' ? ' L ' : ' R ')}}
                        </div>
                        <ul class='list-inline personal-stats row'>
                            <li class='col-md-1'></li>
                            <li class='col-md-3 header'>{{ t('BA') }} <br>
                                {{ player.stats.batting.getBA() | number:'1.3' }}
                                ({{ player.stats.batting.ba | number:'1.3' }})
                            </li>
                            <li class='col-md-1 header'>{{ t('OBP') }} <br> {{ player.stats.batting.getOBP() | number:'1.3' }}</li>
                            <li class='col-md-1 header'>{{ t('SLG') }} <br> {{ player.stats.batting.getSLG() | number:'1.3' }}</li>
                            <li class='col-md-1 header'>{{ t('PA') }} <br> {{ player.stats.batting.pa }}</li>
                        </ul>
                        <hr/>
                        <ul class='list-inline personal-stats row'>
                            <li class='col-md-1'></li>
                            <li class='col-md-3 header'>{{ t('H 2B 3B HR') }} <br>
                                {{ player.stats.batting.h }}
                                - {{ player.stats.batting['2b'] }}
                                - {{ player.stats.batting['3b'] }}
                                - {{ player.stats.batting.hr }}</li>
                            <li class='col-md-1 header'>{{ t('RBI') }} <br> {{ player.stats.batting.rbi }}</li>
                            <li class='col-md-1 header'>{{ t('R') }} <br> {{ player.stats.batting.r }}</li>
                            <li class='col-md-1 header'>{{ t('BB') }} <br> {{ player.stats.batting.bb }}</li>
                            <li class='col-md-1 header'>{{ t('SO') }} <br> {{ player.stats.batting.so }}</li>
                        </ul>
                        <hr>
                        <div class='col-xs-12'>
                            <span>
                                {{ t('Eye') }} <rating-block [rating]='player.skill.offense.eye'></rating-block>
                            </span>
                            <span>
                                {{ t('Power') }} <rating-block [rating]='player.skill.offense.power'></rating-block>
                            </span>
                            <span>
                                {{ t('Speed') }} <rating-block [rating]='player.skill.offense.speed'></rating-block>
                            </span>
                        </div>
                        <div class='row'></div>
                    </section>
                </li>
                <li class='list-group-item team-name'>
                    <flag [team]='team'></flag>
                    {{ team.getName() + t.space() + t('Bench') }}
                </li>
                <li class='list-group-item pointer bench' *ngFor='let player of team.bench'
                    (click)='selectSubstitute(player)' [ngClass]='{selected_sub: team.sub?.toString() === player.toString()}'>
                    <strong>{{player.getName()}}</strong>
                    ({{'#'+player.number}})
                    <span *ngIf='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                    <span class='pull-right'>
                        <!--<span class='col-md-3'>-->
                        <!--{{ player.stats.batting.getSlash() }}-->
                        <!--</span>-->
                        <span class='defining'>
                            {{ player.getDefiningCharacteristic() }}
                        </span>
                    </span>
                    <div class='row'></div>
                </li>
                <li class='list-group-item pointer substituted' *ngFor='let player of team.substituted'>
                    <strong>{{player.getName()}}</strong>
                    ({{'#'+player.number}})
                    <span *ngIf='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                    <span class='pull-right'>
                        <span class='defining'>
                            {{ player.getDefiningCharacteristic() }}
                        </span>
                        <span class='action-line' *ngFor='let atBat of player.getAtBats()'
                              [ngClass]='{beneficial: atBat.beneficial}'>
                            {{ atBat + '' }}
                        </span>
                        {{ t('Substituted') }}
                    </span>
                    <div class='row'></div>
                </li>
            </ul>
        </div>
        <div class='block col-lg-12' *ngIf='y.stage == "end"'>
            <ul class="list-group pitch-record col-xs-12">
                <li class='list-group-item' *ngFor="let event of y.log.record[mode()]">
                    {{event}}
                </li>
            </ul>
        </div>
        <hr>
        <section class='difficulty-select col-xs-12' *ngIf='!y.opponentConnected'>
            <h4 *ngIf='mode() === "e"' (click)='showDifficultySelection = !showDifficultySelection' class='pointer'>
                <a>
                    Opponent Selection &raquo;
                </a>
            </h4>
            <h4 *ngIf='mode() === "n"' (click)='showDifficultySelection = !showDifficultySelection' class='pointer'>
                <a>
                    挑戦 &raquo;
                </a>
            </h4>
            <div [hidden]='!showDifficultySelection'>
                <div class='team'>
                    <button (click)='generateTeam(0.03)' class='btn pull-left pointer'>
                        {{ t('Amateur Baseball Club') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Easy)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （栗鼠）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.12)' class='btn pull-left pointer'>
                        {{ t('Amateur Baseball Team') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Easy)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （猫）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.24)' class='btn pull-left pointer'>
                        {{ t('College Team') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Moderate)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （馬）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.48)' class='btn pull-left pointer'>
                        {{ t('Industrial League Team') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Hard)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （牛）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.75)' class='btn pull-left pointer'>
                        {{ t('Training Squad') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Hard)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （象）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='teamJapan()' class='btn pull-left pointer'>
                        {{ t('Team Japan') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Merciless)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （獅子）
                    </div>
                </div>
            </div>
        </section>
        <aside class='mousehover' *ngIf='message'>
            {{ message }}
        </aside>
    </div>
</div>
