<div class='container'>
    <blocking [y]='y' [t]='t'></blocking>
    <div class='play-begins' [ngClass]='{ blocked: !begin }'>
        <upper [y]='y' [t]='t'></upper>
        <div class='main-area noselect row'>
            <field [y]='y'></field>
            <div class='webgl-bg-container'></div>
            <div class='webgl-container'></div>
            <div class='row'>
                <div class='col-md-4 background-color visible-lg visible-md'>
                    <!--<div *ngFor='let (key, val) of y.swingResult'>-->
                    <!--{{key}} : {{val}}-->
                    <!--</div>-->
                    <ul class="list-group pitch-record">
                        <li class='list-group-item' *ngFor="let event of y.log.pitchRecord[mode()]; let i = index;">
                            <strong [hidden]='i > 0'>
                                {{event}}
                            </strong>
                            <span [hidden]='i === 0'>
                                {{event}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class='col-md-4'>
                    <div class='opponent-indicator' *ngIf='y.opponentConnected'>
                        <em>{{ t('Opponent connected') }}</em>
                    </div>
                    <div class='windup'
                         [ngClass]='{winding: y.humanControl == "none" || y.humanBatting() || y.opponentConnected}'>
                    </div>
                    <div class="no-swing">
                        <div class='input-area' (click)='indicate($event)'>

                        </div>
                        <div class="target live {{y.stage}}"
                             [ngClass]='{
                                            batting: y.humanBatting(),
                                            pitching: y.humanPitching()
                                        }'>
                            <div class='indicator baseball pitch hide'></div>
                            <div class='indicator baseball break hide'></div>
                            <div class='indicator swing player'
                                 [ngStyle]='{
                                    top: 200-y.pitchInFlight.y-y.swingResult.y + "px",
                                    left: y.pitchInFlight.x + y.swingResult.x + "px",
                                    transform: "rotate(" + y.swingResult.angle + "deg) rotateY("+(y.batterRunner.bats == "left" ? 12 : -12)+"deg)"
                                }'
                                 [ngClass]='{
                                 left: y.batterRunner.bats == "left",
                                 right: y.batterRunner.bats == "right",
                                 hide: y.humanBatting() || y.swingResult.looking
                             }'>
                            </div>
                            <div class='indicator swing stance-indicator opponent'
                                 [ngClass]='{
                                left: y.batter.bats == "left",
                                right: y.batter.bats == "right",
                                hide: !y.humanBatting()
                             }'>
                            </div>
                            <div class='indicator glove stance-indicator hide'
                                 [ngClass]='{
                                left: y.pitcher.team.positions.catcher.throws == "left",
                                right: y.pitcher.team.positions.catcher.throws == "right",
                                hide: !y.humanPitching()
                             }'>
                            </div>
                            <div class='strikezone'
                                 [ngClass]='{batting: y.humanBatting(), pitching: y.humanPitching()}'>
                            <span class='strikezone-message' *ngIf='showMessage'>
                                {{ t('Click Here') }}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class='centered'>
                        <div class='batter-stats'
                             [ngClass]='{"lefty": y.batter.bats == "left", "righty": y.batter.bats == "right"}'>
                            <button class='btn small batter-ready'
                                    *ngIf='y.batter.bats==="left" && !y.opponentConnected && y.humanBatting()'
                                    [ngClass]='{disabled: !y.batter.ready}'
                                    (click)='y.batterReady(!y.batter.ready)'>
                                {{ t('Batter Ready') }}
                            </button>
                            <section class='inline-block'>
                                <strong>{{y.batter.getName()}}</strong>
                                <br>
                                <span *ngIf='y.batter.bats==="left"'>
                                    <span *ngIf='y.batter.hero' class="glyphicon glyphicon-chevron-up"></span>
                                    {{ t('LHB') }}
                                </span>
                                <span class='defining anti-color'>
                                    {{ y.batter.getDefiningBattingCharacteristic() }}
                                </span>
                                <span *ngIf='y.batter.bats==="right"'>
                                    {{ t('RHB') }}
                                    <span *ngIf='y.batter.hero' class="glyphicon glyphicon-chevron-up"></span>
                                </span>
                            </section>
                            <button class='btn small batter-ready'
                                    *ngIf='y.batter.bats==="right" && !y.opponentConnected && y.humanBatting()'
                                    [ngClass]='{disabled: !y.batter.ready}'
                                    (click)='y.batterReady(!y.batter.ready)'>
                                {{ t('Batter Ready') }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 background-color visible-lg visible-md'>
                    <ul class="list-group play-record">
                        <li class='list-group-item' *ngFor="let event of y.log.shortRecord[mode()]; let i = index;">
                            <strong [hidden]='i > 0'>
                                {{event}}
                            </strong>
                            <span [hidden]='i === 0'>
                                {{event}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <lower [y]='y' [t]='t'></lower>
    </div>
</div>
