@import "diamond";
@import "baseball";
@import "bat";
@import "layout";
@import "imagePanel";
@import "scoreboard";
@import "chalk";
@import "field";

.rating-block {
    margin: 0 6px -1px;
    padding: 6px 5px;
    display: inline-block;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
//    border: 1px dashed black;
}

.centered {
    text-align: center;
    margin: auto;
}

.windup {
    margin: auto;
    height: 5px;
    background: transparent;
    &.winding {
        display: block;
        background: #f1f1f1;
        border: 1px solid #3d3d3d;
    }
}

.pitch-selection {
    .rating-block {
        margin: 0 -1px -1px;
    }
    .pitch-selection-label {
        font-size: 80%;
    }
}