@import "diamond";
@import "baseball";
@import "bat";
@import "layout";
@import "imagePanel";
@import "scoreboard";
@import "chalk";
@import "canvas";
@import "field";
@import "stacking";

.rating-block {
    margin: 0 6px -1px;
    padding: 6px 5px;
    display: inline-block;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
//    border: 1px dashed black;
}

.defining {
    color: darkslategrey;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    margin: 0 8px;
    //&:before {
    //    content: "";
    //}
    //&:after {
    //    content: "";
    //}
}

.mousehover {
    position: fixed;
    border: 1px dotted #444444;
    padding: 5px;
    display: inline-block;
}

.centered {
    text-align: center;
    margin: auto;
}

.windup {
    margin: auto;
    height: 5px;
    background: transparent;
    &.winding {
        display: block;
        background: #f6f6f6;
        border: 1px solid black;
        border-left: 0;
        border-right: 0;
    }
}

.pitch-selection {
    position: relative;
    z-index: @interface;
    color: black;
    .text-shadow-white;
    .rating-block {
        margin: 0 -1px -1px;
    }
    .pitch-selection-label {
        font-size: 80%;
    }
}