@import "diamond";
@import "baseball";
@import "bat";
@import "layout";
@import "imagePanel";
@import "scoreboard";
@import "chalk";
@import "canvas";
@import "field";

.rating-block {
    margin: 0 6px -1px;
    padding: 6px 5px;
    display: inline-block;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
//    border: 1px dashed black;
}

.mousehover {
    position: fixed;
    border: 1px dotted #444444;
    padding: 5px;
    display: inline-block;
}

.centered {
    text-align: center;
    margin: auto;
}

.windup {
    margin: auto;
    height: 5px;
    background: transparent;
    &.winding {
        display: block;
        background: #f6f6f6;
        border: none;
    }
}

.pitch-selection {
    .rating-block {
        margin: 0 -1px -1px;
    }
    .pitch-selection-label {
        font-size: 80%;
    }
}