.webgl-container {
    width: 100%;
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 1100px;
    margin-top: -220px; // weird
    z-index: 5;
    background: transparent;
    overflow: visible;
}