@background: white;
@contrast: #313131;
@fadedContrast: #606060;


@characteristic: darkslategrey;

.standard-colors {
    background: @background;
    color: @contrast;
}

.faded-colors {
    background: @background;
    color: @fadedContrast;
}