@font-face {
    font-family: Noto;
    src: url("external/noto/NotoSansJP-Regular.otf") format("opentype");
}

html body {
    border-top: 4px solid #ffc031;
    font-family: "Noto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
}

button.btn {
    margin: 10px;
    background: #2a2a2a;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-top: 0;
    border-bottom: 0;
    border-left: 3px solid white;
    border-right: 3px solid white;
    cursor: pointer;
    padding: 5px 5px 8px;
    &.play-ball {
    }
    &.small {
        font-size: 11px;
    }
    &::before, &::after {
        color: white;
        content: "|";
    }
    &:focus, &:active, &:hover {
        color: white;
    }
    &.disabled {
        pointer-events: auto;
        cursor: auto;
    }
}

.language-select {
    z-index: 7;
    background: transparent;
}

.opponent-indicator {
    text-align: left;
    opacity: 0.7;
}

.main-area {
    padding: 10px 30px !important;
    .list-group-item strong {
        font-size: 120%;
    }
    .pitch-record {
        text-align: right;
    }
    .play-record {
        text-align: left;
    }
}
.main-area * {
    font-size: 12px;
}
.main-area .list-group-item {
    line-height: 14px;
    padding: 5px 10px;
    border: none;
}

.grey {
    /*background-image: url(../images/sb-tile-grey.png);*/
    background-repeat: repeat;
    border: 1px dashed black;
    background: #28232a;
    min-width: 10px;
    display: block;
    text-align: center;
}
.font-yellow {
    color: #f7bf24;
}

.padded {
    padding: 10px 15px;
    margin-bottom: -1px;
    border-radius: 3px;
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px auto;
}

.container .table td, .table tr {
    border: none;
}

.green {
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

.orange {
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* IE10+ */
    background: linear-gradient(135deg,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.red {
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* IE10+ */
    background: linear-gradient(135deg,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.unlit {
    background: #959595;
}

.blue {
    background: white;
}


.capitalize {
    text-transform : capitalize;
}

.pointer {
    cursor: pointer;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
}
.hide {
    display: none;
}
.inline {
    display: inline;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background-color {
    background: white;
    border-radius: 5px;
}

.no-swing {
    padding: 0;
    border-top: 2px dashed grey;
    border-bottom: 2px dashed grey;
    //border-left: 50px solid rgba(243, 255, 245, 0.48);
    //border-right: 50px solid rgba(243, 255, 244, 0.48);
    background: transparent;
    min-width: 300px;
    margin: 0 -10px 25px -10px;
    position: relative;
}

@alpha: 0.6;

@target: radial-gradient(circle at 100px 100px, rgba(215, 215, 215, @alpha), rgba(166, 166, 166, @alpha));
.target {
    &.live {
        z-index: 4;
        cursor: none;
    }
    box-shadow: 0 0 24px 6px rgba(55, 55, 55, @alpha);
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px dashed #bcc2c9;
    background: @target;
    perspective: 100px;
    &.pitching {
        background: rgba(240, 233, 238, @alpha);
        background: @target;
    }
    &.batting {
        background: rgba(237, 235, 237, @alpha);
        background: @target;
    }
}
@strikezone: radial-gradient(circle at 50px 80px, rgba(142, 141, 136, @alpha + 0.3), rgba(77, 77, 80, @alpha + 0.3));
.strikezone {
    box-shadow: 0 0 5px 3px rgba(105, 108, 112, 0.49);
    margin: 35px 50px;
    padding: 0;
    width: 100px;
    height: 130px;
    background: @strikezone;
    border: 3px solid #ccd4d1;
    text-align: center;
    &.pitching {
        background: rgba(174, 169, 173, @alpha);
        background: @strikezone;
    }
    &.batting {
        background: rgba(192, 189, 195, @alpha);
        background: @strikezone;
    }
}

.batters-eye {

}

.indicator.pitch {
    background-color : rgba(255,255,255, 0.4);
}

.container .side-base-indicator {
    min-height : 62px;
}

.blocking {
    position: absolute;
    width: 100%;
    height: 250%;
    z-index: 11;
    left: 0;
    top: 0;
    background: white;
    text-align: center;
    padding: 4%;
    font-size: 14px;
    font-weight: bold;
}
.blocking p {
    text-align: left;
}
.blocking .no-swing {
    border: 2px solid black;
}

.batter-stats {
    width: 100%;
    margin: -25px auto auto;
    .rating-block {
        margin: 0 0 -1px 0;
    }
    &.righty {
        text-align: left;
    }
    &.lefty {
        text-align: right;
    }
}

.stabilized .list-group-item {
    height: 6em;
}

.one-line .col-xs-6 {
    margin-right: -40px;
    &:last-child {
        margin-left: 40px;
    }
    .prevent-break {
        margin-right: -40px;
    }
}

.strikezone-message {
    border-radius: 1px;
    background: #5d0e10;
    color: #ffffff;
    font-weight: bold;
    padding: 40px 10px;
    font-size: 16px;
    display: inline-block;
    margin: auto;
}