<div class='container' ng-app='YakyuuAikoukai' ng-controller='IndexController'>
    <div class='blocking instructions'>
        <section class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4 language-select'>
                <span>
                    {{ t('Select Language:') }} &nbsp;
                </span>
                <hr>
                <button class='btn pointer' (click)='mode("e"); $event.stopPropagation()'>
                    English
                </button>
                <button class='btn pointer' (click)='mode("n"); $event.stopPropagation()'>
                    日本語
                </button>
            </div>
            <div class='col-md-4'></div>
        </section>
        <br/>
        <div class='row'>
            <div class='col-md-4'>
                <p *ngIf='mode() == "e"'>
                    When catching, click in the strike/ball zone to locate a pitch. Opponent batting swing locations are
                    signaled by a bat icon. A grey circle will indicate where the ball crossed home plate.
                </p>
                <p *ngIf='mode() == "n"'>
                    守備でのは捕手役でプレーを行う。ストライクゾーンにクリックすると、投手を狙い投げさせる。バットが
                    現れるところがバッターの振り。灰色のまるはストライクゾーンに入ったところ。
                </p>
            </div>
            <div class="col-md-4">
                <div class="target swing">
                    <div class='indicator baseball pitch' style='top:70px;left:55px;padding:2px;'></div>
                    <div class='indicator baseball pitch' style='top:74px;left:50px;padding:3px;'></div>
                    <div class='indicator baseball pitch' style='top:82px;left:48px;padding:4px;'></div>
                    <div class='indicator baseball pitch' style='top:94px;left:55px;padding:6px;'></div>
                    <div class='indicator baseball pitch' style='top:110px;left:80px;padding:8px;'></div>
                    <div class='indicator baseball pitch' style='top:130px;left:100px;padding:10px;'></div>
                    <div class='indicator baseball break' style='top:145px;left:125px;padding:12px;'></div>
                    <div class='strikezone'></div>
                </div>
            </div>
            <div class='col-md-4'>
                <p *ngIf='mode() == "e"'>
                    You can call for a different pitch by clicking on the pitch name below the field display.
                </p>
                <p *ngIf='mode() == "n"'>
                    ストライクゾーンの下に投手のどの球で挑戦することも選択できる。
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>
                <p *ngIf='mode() == "e"'>
                    When batting, you'll see a ball...
                    Click inside the pitch zone to locate your swing, or don't click to hold up (not swing) and try to draw a walk or wait for a better pitch.
                </p>
                <p *ngIf='mode() == "n"'>
                    攻撃でのはバッター役を次々務める。投球が飛んでくるときにストライクゾーンにクリックすれば、バットを振る。しない場合は見送る。打てる球待つんだ！
                </p>
            </div>
            <div class="col-md-4">
            </div>
            <div class='col-md-4'>
                <p *ngIf='mode() == "e"'>
                    To restart into a new game simply reload the page. You can also share the URL of your game to play
                    against a friend. This may not be available depending on server status.
                </p>
                <p *ngIf='mode() == "n"'>
                    新しい試合を再開したいときにウエブページをリロードしてください。一人の友達も同じURLに誘えば、相手としては勤めていられます。
                </p>
            </div>
        </div>
        <section class='row options'>
            <div class='col-md-12'>
                <button (click)="proceedToGame(); $event.stopPropagation()" class='btn play-ball pointer'>
                    {{ t('Play Ball!') }}
                </button>
                <button (click)="proceedToGame(false, true); $event.stopPropagation()" class='btn pointer'>
                    {{ t('Spectate the CPU') }}
                </button>
            </div>
        </section>
        <section class='baseball-beginner text-left'>
            <div *ngIf='mode() == "e"'>
                <h3>Catching</h3>
                <ul>
                    <li>A pitch down the middle is easier to hit, but a pitch on the corners is more likely a ball.</li>
                    <li>You control where to pitch, but a more skilled pitcher will execute more accurately.</li>
                    <li>Throwing pitches to the same location repeatedly makes them easier to see and hit.</li>
                    <li>A low pitch is more likely to draw a ground ball, and a high pitch a fly ball.</li>
                    <li>When ahead in the count, spot a pitch outside the strike zone to draw a strikeout.</li>
                    <li>The pitcher will lose some control due to fatigue over the course of the game.</li>
                    <li>Your fielders have varied defensive skills. If your outfielders are strong but your infielders weak, try pitching high.</li>
                </ul>
                <h3>Batting</h3>
                <ul>
                    <li>A batter's eye improves with more pitches seen in an at-bat.</li>
                    <li>Wait for the pitch! Don't swing early.</li>
                    <li>Batters have three traits: power, speed, and eye.</li>
                    <li>Speedier batters are less likely to be thrown out on the basepaths or on a ground ball.</li>
                    <li>A batter with a good eye can turn even a pitch outside the strike zone into a base hit.</li>
                    <li>Not sure if that junk pitch is a strike or ball? Hit it at an angle to foul it off.</li>
                    <li>You can recognize pitches by their seam rotation if you look closely.</li>
                </ul>
                <h6><em>Notation</em></h6>
                <ul>
                    <rating-block [rating]='110'></rating-block> : High skill rating
                    <br/>
                    <rating-block [rating]='25'></rating-block> : Low skill rating
                    <br/>
                    <span class="glyphicon glyphicon-chevron-up"></span> : Elite player
                </ul>
            </div>
            <div *ngIf='mode() == "n"'>
                <h3>捕球</h3>
                <ul>
                    <li>真ん中の球は打ちやすい、内角や低めのは難しい</li>
                    <li>捕手としてはピッチングが選択できるが、制球は投手次第</li>
                    <li>同じコースで投げすぎと、打ちやすくなる</li>
                    <li>低めのコースはゴロを誘導し、高めはフライのほう</li>
                    <li>いいカウントに入ったとき、ボールコースの一球で三振をとる</li>
                    <li>ピッチャーは少しづつ疲れていく</li>
                    <li>野手の守備は不確定。内野手たちの方が強いならば、低めのコースを使うべき</li>
                </ul>
                <h3>打撃</h3>
                <ul>
                    <li>打席中に球を見送る旅に目が鋭くなれる</li>
                    <li>早振りはしない為にボールをよく待って打つ</li>
                    <li>各バッターは３つの属性で評価されている：目（バット・コントロールと選球眼）、力（長打）、速（走塁）</li>
                    <li>足の速いバッターはゴロでも出塁できる</li>
                    <li>目が鋭いバッターはボールコースの球でも打てる</li>
                    <li>ボールコースかどうかが分からない時にこそ、当てるだけのファウルで生き残る</li>
                    <li>球種にはよく見れば縫い目で区別にもできる</li>
                </ul>
                <h6><em>アイコン</em></h6>
                <ul>
                    <rating-block [rating]='110'></rating-block> : 強い属性
                    <br/>
                    <rating-block [rating]='25'></rating-block> : 「まあ、頑張ってね」属性
                    <br/>
                    <span class="glyphicon glyphicon-chevron-up"></span> : ヒーロー選手
                    <br>
                    <strong>+</strong> : {{ t('RBI') }}
                </ul>
            </div>
            <hr/>
            <div class='col-md-12'>
                <h5>...</h5>
                <button (click)='proceedToGame(true, true); $event.stopPropagation()' class='btn pointer'>
                    {{ t('Run Fast Simulation') }} &raquo;
                </button>
                <button (click)='proceedToGame(7); $event.stopPropagation()' class='btn pointer'>
                    {{ t('Play from the 7th') }} &raquo;
                </button>
            </div>
        </section>
    </div>
    <div class='play-begins'>
        <scoreboard [y]='y' [t]='t'></scoreboard>
        <hr class='under-canvas' />
        <div class='diamond-display row'>
            <div class='col-md-4 language-select'>
                <div class='pull-right'>
                    <button class='btn small' (click)='mode("e")' [ngClass]='{disabled: mode() != "e"}'>
                        <strong class='pointer' >English</strong>
                    </button>
                    <br>
                    <button class='btn small' (click)='mode("n")' [ngClass]='{disabled: mode() != "n"}'>
                        <strong class='pointer'>日本語</strong>
                    </button>
                    <br/>
                    <br/>
                    <!--<p>-->
                    <!--{{ y.timeOfDay.h }}:{{ y.timeOfDay.m }}-->
                    <!--</p>-->
                </div>
            </div>
            <div class='col-md-4'>
                <div class='splay-indicator-wrapper'>
                    <div class='splay-indicator'>
                        <div class='splay-indicator-ball' *ngIf='y.swingResult.contact'
                             [ngStyle]='{
                                    bottom: y.swingResult.bottom + "px",
                                    left: y.swingResult.left + "px"
                                }'>
                        </div>
                    </div>
                </div>
                <div class='text-center steal-controls' *ngIf='y.humanBatting() && y.field.getLeadRunner() && !y.opponentConnected'>
                    <button class='btn pointer small' (click)='y.batter.team.stealAttempt = y.batter.team.constructor.RUNNER_GO'
                            [ngClass]='{disabled: y.batter.team.stealAttempt != y.batter.team.constructor.RUNNER_GO}'>
                        {{ t('Steal') }}
                    </button>
                    <button class='btn pointer small' (click)='y.batter.team.stealAttempt = y.batter.team.constructor.RUNNERS_DISCRETION'
                            [ngClass]='{disabled: y.batter.team.stealAttempt != y.batter.team.constructor.RUNNERS_DISCRETION}'>
                        {{ t('Opportunistic') }}
                    </button>
                    <button class='btn pointer small' (click)='y.batter.team.stealAttempt = y.batter.team.constructor.RUNNER_HOLD'
                            [ngClass]='{disabled: y.batter.team.stealAttempt != y.batter.team.constructor.RUNNER_HOLD}'>
                        {{ t('Hold') }}
                    </button>
                </div>
                <!--<aside class='left image-panel' [ngStyle]='{ backgroundImage: imagePanel.left }'></aside>-->
                <!--<aside class='right image-panel' [ngStyle]='{ backgroundImage: imagePanel.right }'></aside>-->
            </div>
            <div class='col-md-4'>
            </div>
        </div>
        <hr class='under-canvas' />
        <div class='main-area noselect row'>
            <field></field>
            <div class='webgl-bg-container'></div>
            <div class='webgl-container'></div>
            <div class='row'>
                <div class='col-md-4 background-color visible-lg visible-md'>
                    <!--<div *ngFor='#(key, val) of y.swingResult'>-->
                    <!--{{key}} : {{val}}-->
                    <!--</div>-->
                    <ul class="list-group pitch-record">
                        <li class='list-group-item' *ngFor="#event of y.log.pitchRecord[mode()]; #index = index">
                            <strong *ngIf="index == 0">
                                {{event}}
                            </strong>
                        <span *ngIf="index">
                            {{event}}
                        </span>
                        </li>
                    </ul>
                </div>
                <div class='col-md-4'>
                    <div class='opponent-indicator' *ngIf='y.opponentConnected'>
                        <em>{{ t('Opponent connected') }}</em>
                    </div>
                    <div class='windup' *ngIf='!y.opponentConnected' [ngClass]='{winding: y.humanControl == "none" || (y.humanBatting() && !y.humanPitching())}'>
                    </div>
                    <div class="no-swing">
                        <div class='input-area' (click)='indicate($event)'>

                        </div>
                        <div class="target live {{y.stage}}"
                             [ngClass]='{
                                            batting: y.humanBatting(),
                                            pitching: y.humanPitching()
                                        }'>
                            <div class='indicator baseball pitch hide'></div>
                            <div class='indicator baseball break hide'></div>
                            <div class='indicator swing player'
                                 [ngStyle]='{
                                    top: 200-y.pitchInFlight.y-y.swingResult.y + "px",
                                    left: y.pitchInFlight.x + y.swingResult.x + "px",
                                    transform: "rotate(" + y.swingResult.angle + "deg) rotateY("+(y.batterRunner.bats == "left" ? 12 : -12)+"deg)"
                                }'
                                 [ngClass]='{
                                 left: y.batterRunner.bats == "left",
                                 right: y.batterRunner.bats == "right",
                                 hide: y.humanBatting() || y.swingResult.looking
                             }'>
                            </div>
                            <div class='indicator swing stance-indicator opponent'
                                 [ngClass]='{
                                left: y.batter.bats == "left",
                                right: y.batter.bats == "right",
                                hide: !y.humanBatting()
                             }'>
                            </div>
                            <div class='indicator glove stance-indicator hide'
                                 [ngClass]='{
                                left: y.pitcher.team.positions.catcher.throws == "left",
                                right: y.pitcher.team.positions.catcher.throws == "right",
                                hide: !y.humanPitching()
                             }'>
                            </div>
                            <div class='strikezone' [ngClass]='{batting: y.humanBatting(), pitching: y.humanPitching()}'>
                            <span class='strikezone-message' *ngIf='showMessage'>
                                {{ t('Click Here') }}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class='centered'>
                        <div class='batter-stats' [ngClass]='{"lefty": y.batter.bats == "left", "righty": y.batter.bats == "right"}'>
                            <button class='btn small batter-ready'
                                    *ngIf='y.batter.bats==="left" && !y.opponentConnected && y.humanBatting()'
                                    [ngClass]='{disabled: !y.batter.ready}'
                                    (click)='y.batterReady(!y.batter.ready)'>
                                {{ t('Batter Ready') }}
                            </button>
                            <section class='inline-block'>
                                <strong>{{y.batter.getName()}}</strong>
                                <br>
                                <span *ngIf='y.batter.bats==="left"'>
                                    <span *ngIf='y.batter.hero' class="glyphicon glyphicon-chevron-up"></span>
                                    {{ t('LHB') }}
                                </span>
                                <span class='defining anti-color'>
                                    {{ y.batter.getDefiningBattingCharacteristic() }}
                                </span>
                                <span *ngIf='y.batter.bats==="right"'>
                                    {{ t('RHB') }}
                                    <span *ngIf='y.batter.hero' class="glyphicon glyphicon-chevron-up"></span>
                                </span>
                            </section>
                            <button class='btn small batter-ready'
                                    *ngIf='y.batter.bats==="right" && !y.opponentConnected && y.humanBatting()'
                                    [ngClass]='{disabled: !y.batter.ready}'
                                    (click)='y.batterReady(!y.batter.ready)'>
                                {{ t('Batter Ready') }}
                            </button>
                        </div>
                    </div>
                    <div class='chalklines'>
                        <!--<span class='homeplate'></span>-->
                    </div>
                </div>
                <div class='col-md-4 background-color visible-lg visible-md'>
                    <ul class="list-group play-record">
                        <li class='list-group-item' *ngFor="#event of y.log.shortRecord[mode()]; #index = index">
                            <strong *ngIf="index == 0">
                                {{event}}
                            </strong>
                        <span *ngIf="index">
                            {{event}}
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class='under-canvas' />
        <div class='visible-sm visible-xs centered'>
            {{ y.log.pitchRecord[mode()][0] }}
        </div>
        <!--<div class="umpire centered">-->
        <!--Umpire: {{y.umpire.says}}-->
        <!--</div>-->
        <hr class='visible-sm visible-xs centered'>
        <ul class='centered list-inline pitch-selection' *ngIf='y.humanPitching()'>
            <li class='pointer' *ngFor='#pitch of y.pitcher.pitching | toIterable;' (click)="selectPitch(pitch.__key)">
            <span>
                <button class='pointer btn small' [ngClass]='{disabled: y.pitchInFlight.name !== pitch.__key}'>
                    {{ t(pitch.__key) }}
                </button>
                <br>
                <rating-block [rating]='pitch.control'></rating-block>
                <rating-block [rating]='pitch.velocity'></rating-block>
                <rating-block [rating]='pitch.break'></rating-block>
            </span>
            </li>
            <br class='visible-xs'/>
            <li class='pitch-selection-label'>
                {{ t('Control') }} / {{ t('Velocity') }} / {{ t('Break') }}
            </li>
        </ul>
        <ul class='centered list-inline pitch-selection' *ngIf='!y.humanPitching()'>
            <li class='pointer' *ngFor='#pitch of y.pitcher.pitching | toIterable;'>
                <span class='pointer'>
                    {{ t(pitch.__key) }}
                </span>
                <br>
                <rating-block [rating]='pitch.control'></rating-block>
                <rating-block [rating]='pitch.velocity'></rating-block>
                <rating-block [rating]='pitch.break'></rating-block>
            </li>
            <br class='visible-xs'/>
            <li class='pitch-selection-label'>
                {{ t('Control') }} / {{ t('Velocity') }} / {{ t('Break') }}
            </li>
        </ul>
        <hr/>
        <div class='row'>
            <section class='col-xs-12'>
                <batters-data [y]='y' [t]='t' class='batter-data col-sm-6' *ngIf='y.half === "top"'></batters-data>
                <battery-data [y]='y' [t]='t' class='pitcher-data col-sm-6' *ngIf='y.half === "top"'></battery-data>

                <battery-data [y]='y' [t]='t' class='pitcher-data col-sm-6' *ngIf='y.half === "bottom"'></battery-data>
                <batters-data [y]='y' [t]='t' class='batter-data col-sm-6' *ngIf='y.half === "bottom"'></batters-data>
            </section>
        </div>
        <hr/>
        <div class='block stabilized col-lg-12 hidden-lg hidden-md'>
            <ul class="list-group pitch-record col-xs-6">
                <li class='list-group-item' *ngFor="#event of y.log.stabilized.pitchRecord[mode()]">
                    {{event}}
                </li>
            </ul>
            <ul class="list-group pitch-record col-xs-6">
                <li class='list-group-item' *ngFor="#event of y.log.stabilized.shortRecord[mode()]">
                    {{event}}
                </li>
            </ul>
            <hr/>
        </div>
        <div class='clear'></div>
        <div class='col-lg-12 batting-lines'>
            <ul class='list-group col-lg-6' *ngFor='#team of [y.teams.away, y.teams.home]' [ngClass]='{ click_to_sub: team.sub !== team.noSubstituteSelected }'>
                <li class='list-group-item team-name'>
                    {{team.getName()}}
                </li>
                <li class='list-group-item pointer lineup' *ngFor="#player of team.lineup"
                    (click)='clickLineup(player)'>
                    {{abbreviatePosition(player.position)}}
                    <!--<rating-block [rating]='player.defensiveAverage()'></rating-block>-->
                    &raquo;
                    <strong>{{player.getName()}}</strong>
                    ({{'#'+player.number}})
                    <span *ngIf='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                    <em>{{ player.team.lineup.indexOf(player) == player.team.nowBatting ? ' - ' + t('Up to Bat') : ''}}</em>

                    <span class='pull-right'>
                        <span class='defining'>
                            {{ player.getDefiningCharacteristic() }}
                        </span>
                        <span class='action-line' *ngFor='#atBat of player.getAtBats()'
                              [ngClass]='{beneficial: atBat.beneficial}'>
                            {{ atBat + '' }}
                        </span>
                    </span>
                    <div class='row'></div>
                    <section *ngIf='player.team.expanded === player'>
                        <hr>
                        <div class='visible-md-inline visible-lg-inline col-xs-12'>
                            {{ t('Throws/Bats') }} {{t(player.throws == 'left' ? 'L' : 'R ')}}{{t.slash()}}
                            {{t(player.bats == 'left' ? ' L ' : ' R ')}}
                        </div>
                        <ul class='list-inline personal-stats row'>
                            <li class='col-md-1'></li>
                            <li class='col-md-3 header'>{{ t('BA') }} <br>
                                {{ player.stats.batting.getBA() | number:'1.3' }}
                                ({{ player.stats.batting.ba | number:'1.3' }})
                            </li>
                            <li class='col-md-1 header'>{{ t('OBP') }} <br> {{ player.stats.batting.getOBP() | number:'1.3' }}</li>
                            <li class='col-md-1 header'>{{ t('SLG') }} <br> {{ player.stats.batting.getSLG() | number:'1.3' }}</li>
                            <li class='col-md-1 header'>{{ t('PA') }} <br> {{ player.stats.batting.pa }}</li>
                        </ul>
                        <hr/>
                        <ul class='list-inline personal-stats row'>
                            <li class='col-md-1'></li>
                            <li class='col-md-3 header'>{{ t('H 2B 3B HR') }} <br>
                                {{ player.stats.batting.h }}
                                - {{ player.stats.batting['2b'] }}
                                - {{ player.stats.batting['3b'] }}
                                - {{ player.stats.batting.hr }}</li>
                            <li class='col-md-1 header'>{{ t('RBI') }} <br> {{ player.stats.batting.rbi }}</li>
                            <li class='col-md-1 header'>{{ t('R') }} <br> {{ player.stats.batting.r }}</li>
                            <li class='col-md-1 header'>{{ t('BB') }} <br> {{ player.stats.batting.bb }}</li>
                            <li class='col-md-1 header'>{{ t('SO') }} <br> {{ player.stats.batting.so }}</li>
                        </ul>
                        <hr>
                        <div class='col-xs-12'>
                            <span>
                                {{ t('Eye') }} <rating-block [rating]='player.skill.offense.eye'></rating-block>
                            </span>
                            <span>
                                {{ t('Power') }} <rating-block [rating]='player.skill.offense.power'></rating-block>
                            </span>
                            <span>
                                {{ t('Speed') }} <rating-block [rating]='player.skill.offense.speed'></rating-block>
                            </span>
                        </div>
                        <div class='row'></div>
                    </section>
                </li>
                <li class='list-group-item team-name'>
                    {{ team.getName() + t.space() + t('Bench') }}
                </li>
                <li class='list-group-item pointer bench' *ngFor='#player of team.bench'
                    (click)='selectSubstitute(player)' [ngClass]='{selected_sub: team.sub?.toString() === player.toString()}'>
                    <strong>{{player.getName()}}</strong>
                    ({{'#'+player.number}})
                    <span *ngIf='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                    <span class='pull-right'>
                        <!--<span class='col-md-3'>-->
                        <!--{{ player.stats.batting.getSlash() }}-->
                        <!--</span>-->
                        <span class='defining'>
                            {{ player.getDefiningCharacteristic() }}
                        </span>
                    </span>
                    <div class='row'></div>
                </li>
                <li class='list-group-item pointer substituted' *ngFor='#player of team.substituted'>
                    <strong>{{player.getName()}}</strong>
                    ({{'#'+player.number}})
                    <span *ngIf='player.hero' class='glyphicon glyphicon-chevron-up'></span>
                    <span class='pull-right'>
                        <span class='defining'>
                            {{ player.getDefiningCharacteristic() }}
                        </span>
                        <span class='action-line' *ngFor='#atBat of player.getAtBats()'
                              [ngClass]='{beneficial: atBat.beneficial}'>
                            {{ atBat + '' }}
                        </span>
                        {{ t('Substituted') }}
                    </span>
                    <div class='row'></div>
                </li>
            </ul>
        </div>
        <div class='block col-lg-12' *ngIf='y.stage == "end"'>
            <ul class="list-group pitch-record col-xs-12">
                <li class='list-group-item' *ngFor="#event of y.log.record[mode()]">
                    {{event}}
                </li>
            </ul>
        </div>
        <hr>
        <section class='difficulty-select col-xs-12' *ngIf='!y.opponentConnected'>
            <h4 *ngIf='mode() === "e"' (click)='showDifficultySelection = !showDifficultySelection' class='pointer'>
                <a>
                    Opponent Selection &raquo;
                </a>
            </h4>
            <h4 *ngIf='mode() === "n"' (click)='showDifficultySelection = !showDifficultySelection' class='pointer'>
                <a>
                    挑戦 &raquo;
                </a>
            </h4>
            <div [hidden]='!showDifficultySelection'>
                <div class='team'>
                    <button (click)='generateTeam(0.03)' class='btn pull-left pointer'>
                        {{ t('Amateur Baseball Club') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Easy)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （栗鼠）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.12)' class='btn pull-left pointer'>
                        {{ t('Amateur Baseball Team') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Easy)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （猫）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.24)' class='btn pull-left pointer'>
                        {{ t('College Team') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Moderate)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （馬）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.48)' class='btn pull-left pointer'>
                        {{ t('Industrial League Team') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Hard)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （牛）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='generateTeam(0.75)' class='btn pull-left pointer'>
                        {{ t('Training Squad') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Hard)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （象）
                    </div>
                </div>
                <div class='team'>
                    <button (click)='teamJapan()' class='btn pull-left pointer'>
                        {{ t('Team Japan') }}
                    </button>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "e"'>
                        (Merciless)
                    </div>
                    <div class='pull-left difficulty-indicator' *ngIf='mode() === "n"'>
                        （獅子）
                    </div>
                </div>
            </div>
        </section>
        <aside class='mousehover' *ngIf='message'>
            {{ message }}
        </aside>
    </div>
</div>
